<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1>查询结果</h1>
                <h3>快递单号：{$order_info.ame_no}</h3>
                <h3>日期：{$order_info.date}</h3>
                <h3>状态：{$order_info.state}</h3>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>