/* 临时处理 */
body {
    min-width: 600px;
}

/* 所有尺寸 */
.header-top-pic {
    height: 75px;
}
.ame-bk-color {
    background-color: rgb(47,50,55);
    color: white;
}
.ame-bk-color a {
    color: white;
    text-decoration: none;
}
.ame-bk-color a:hover {
    color: limegreen;
}
.table-no-border td {
    border: 0 !important;
}
.track-form {
    height: 100%;
    background: url('../img/web/AME_Track_bk.jpg') no-repeat center;
    background-size: 100%;
    padding: 1% 10%;
}
.index-mid-tab > span {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
.index-article-header {
    background: url('../img/web/AME_Title_bk.jpg') no-repeat center;
    background-size: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.index-article-block {
    background-color: rgb(248,248,248);
    padding: 0 10px 5px 10px;
    min-height: 387px;
}
.index-article-title {
    border-bottom: 1px dashed rgb(196,196,196);
    margin-top: 10px;
    font-weight: bold;
    padding: 0 15px;
}
.index-activity-block {
    background-color: rgb(230,230,230);
    padding: 5px 15px;
    margin-top: 10px;
    max-height: 66px;
    position: relative;
}
.index-activity-block > p {
    margin-bottom: 0;
}
.index-activity-block > img {
    width: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.index-activity-title {
    font-weight: bold;
}

/* 小屏幕 */
@media (min-width: 768px) {
    .header-top-pic {
        height: 150px;
    }
}

/* 中等屏幕 */
@media (min-width: 992px) {

}

/* 大屏幕 */
@media (min-width: 1200px) {
    .header-top-pic {
        height: 200px;
    }
}
