/* 通用尺寸 */
.header-top-pic {
    height: 40px;
}
.ame-bk-color {
    background-color: rgb(47,50,55);
    color: white;
}
.ame-bk-color a {
    color: white;
    text-decoration: none;
}
.ame-bk-color a:hover {
    color: limegreen;
}
.table-no-border td {
    border: 0 !important;
}
.track-form {
    height: 100%;
    background: url('../img/web/AME_Track_bk.jpg') no-repeat center;
    background-size: cover;
    padding: 1% 10%;
}
.index-mid-tab > span {
    display: block;
    margin-top: 10px;
    font-size: 10px;
}
.index-mid-tab > img {
    width: 35px;
}
.index-article-header {
    background: url('../img/web/AME_Title_bk.jpg') no-repeat center;
    background-size: cover;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.index-article-block {
    background-color: rgb(248,248,248);
    padding: 0 10px 5px 10px;
    min-height: 387px;
}
.index-article-title {
    border-bottom: 1px dashed rgb(196,196,196);
    margin-top: 10px;
    font-weight: bold;
    padding: 0 15px;
}
.index-activity-block {
    background-color: rgb(230,230,230);
    padding: 5px 15px;
    margin-top: 10px;
    max-height: 66px;
    position: relative;
}
.index-activity-block > p {
    margin-bottom: 0;
}
.index-activity-block > img {
    width: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.index-activity-title {
    font-weight: bold;
}
.index-track {
    height: 250px;
}
.track-title {
    font-size: 15px;
}
.footer-article-category {
    font-weight: bold;
    font-size: 10px;
}
.footer-article li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 5px;
}
.ame-nav {
    font-size: 10px
}

/* 不能更小的屏幕 */
@media (min-width: 450px) {
    .header-top-pic {
        height: 60px;
    }
    .ame-nav {
        font-size: 15px
    }
    .footer-article-category {
        font-size: 15px;
    }
    .footer-article li {
        font-size: 10px;
    }
    .pic_style{
        width:100%;
    }
}

/* 小屏幕 */
@media (min-width: 768px) {
    .header-top-pic {
        height: 100px;
    }
    .index-mid-tab > img {
        width: 81px;
    }
    .index-mid-tab > span {
        display: block;
        margin-top: 10px;
        font-size: 20px;
    }
    .index-track {
        height: 450px;
    }
    .track-title {
        font-size: 24px;
    }
    .ame-nav {
        font-size: 20px
    }
    .footer-article-category {
        font-size: 24px;
    }
    .footer-article li {
        font-size: 18px;
    }
    .pic_style{
        width:100%;
    }
}

/* 中屏幕 */
@media (min-width: 992px) {
    .header-top-pic {
        height: 120px;
    }
    .pic_style{
        height: 240px;
        width:100%;
    }
}

/* 大屏幕 */
@media (min-width: 1200px) {
    .header-top-pic {
        height: 150px;
    }
    .pic_style{
        height: 330px;
        width:100%;
    }
}

/* 价格查询 */
.price_style{
    color: white;
    background-color: rgb(47,50,55);
    vertical-align:top;
}
.price_style2{
    color: red;
    font-weight: bold;
    background-color: rgb(47,50,55);
    vertical-align:top;
    text-align:center;

}
#price_header{
    width: 60%;
    margin-top: 60px;
    margin-left: 18%;
    margin-bottom: 10%;
    text-align:center;
}
.login_but_style{
    width: 100%;
    background-color: #1FB996;
    border-radius:10px;
    height: 40px;
    color:white;
    font-size: 18px;
}