<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/about_us_logo.png">
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                AMERICO EXPRESS(AME)
                主要為跨境電商企業平臺推出的壹款適用於 加拿大至中國大陸的電商 B2C市場的專屬服務，
                同時我們也是京東商城以及京東物流指定的合作商。<br>提供從加拿大收貨， 國內報關清關，國內派送的壹體化物流服務。
            </div>
        </div><br>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <b>適用對象</b>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    （1）加拿大的獨立電商平臺企業<br>
                    （2）加拿大駐京東平臺的商家<br>
                    （3）適合品類相對較散的電商及代購平臺（微商、C2C）等<br>
                </div>
            </div><br>
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <b>我們的優勢</b>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="margin-bottom: 40px;">
                        正規陽光，規範清關，時效快捷，清關穩定，關口靈活，限制品類少，電子數 據清關。<br>
                        1．靈活快速清關：全程電子清關，多關口雲清關<br>
                        與海關系統直接對接並電子數據完成清關，預推送訂單向海關提前申報進境清 關，相比傳統紙本清關效率高出數倍，同時多關口雲清關保證穩定時效。<br>
                        2.更優化成本<br>
                        節省運費、優化操作費、競爭清關費、更低稅費。相比壹般貿易進口的方式，
                        此清關途徑是使用行郵稅並享受稅金 50 元以內的免征優惠政策，也省卻了關稅及增值稅，通過 Americo Express高效專業的操作，相關費用得到更優化。<br>
                        3.陽光規範<br>
                        物流全程在海關跨境B2C新政策下運作，完善的報關操作系統，經驗豐富的優秀團隊，為您提供快速與便捷的通關服務。<br>
                        4. 提升客戶體驗<br>
                        全程由系統對接及狀態跟蹤，高效，快捷掌控，實時反饋物流狀態，為用戶提供全程跟蹤查詢服務，配送實現數據和工作流程共享，提高對各環節的掌控力度。<br>
                        5. 京東商家<br>
                        對於加拿大駐京東平臺的商家們來說，我們的系統會直接連接京東後臺，在客人下單後在系統裏自動生成我們的運單號，讓客人第壹時間掌控運單追蹤，無需商家任何後續操作。
                        <br>
                    </div>
                </div>
    </div>
    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>

