<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/americoexpress_logo.png">
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                AMERICO EXPRESS(AME)
                主要为跨境电商企业平台推出的一款适用于 加拿大至中国大陆的电商 B2C市场的专属服务，
                同时我们也是京东商城以及京东物流指定的合作商。<br>提供从加拿大收货， 国内报关清关，国内派送的一体化物流服务。
            </div>
        </div><br>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <b>适用对象</b>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    （1）加拿大的独立电商平台企业<br>
                    （2）加拿大驻京东平台的商家<br>
                    （3）适合品类相对较散的电商及代购平台（微商、C2C）等<br>
                </div>
            </div><br>
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <b>我们的优势</b>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="margin-bottom: 40px;">
                        正规阳光，规范清关，时效快捷，清关稳定，关口灵活，限制品类少，电子数 据清关。<br>
                        1．灵活快速清关：全程电子清关，多关口云清关<br>
                        与海关系统直接对接并电子数据完成清关，预推送订单向海关提前申报进境清 关，相比传统纸本清关效率高出数倍，同时多关口云清关保证稳定时效。<br>
                        2.更优化成本<br>
                        节省运费、优化操作费、竞争清关费、更低税费。相比一般贸易进口的方式，
                        此清关途径是使用行邮税并享受税金 50 元以内的免征优惠政策，也省却了关税及增值税，通过 Americo Express高效专业的操作，相关费用得到更优化。<br>
                        3.阳光规范<br>
                        物流全程在海关跨境B2C新政策下运作，完善的报关操作系统，经验丰富的优秀团队，为您提供快速与便捷的通关服务。<br>
                        4. 提升客户体验<br>
                        全程由系统对接及状态跟踪，高效，快捷掌控，实时反馈物流状态，为用户提供全程跟踪查询服务，配送实现数据和工作流程共享，提高对各环节的掌控力度。<br>
                        5. 京东商家<br>
                        对于加拿大驻京东平台的商家们来说，我们的系统会直接连接京东后台，在客人下单后在系统里自动生成我们的运单号，让客人第一时间掌控运单追踪，无需商家任何后续操作。
                        <br>
                    </div>
                </div>
    </div>
    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>

