<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" style="margin: 2% 8% 8% 8%;">
        <div class="row">
            <div class="col-md-4">
                <img class="pic_style" src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/about_us1.jpg">
            </div>
            <div class="col-md-4">
                <img class="pic_style" src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/about_us2.jpg">
            </div>
            <div class="col-md-4">
                <img class="pic_style" src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/about_us3.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="margin-top: 3%;">
                <span style="color:#0FC1B9;font-size: 2em;">A</span>ME(Americo Axpress Logistic Inc.)美洲快递是注册在加拿大多伦多的国际物流公司，
                是全球领先专为国际电子商务提供物流解决方案的集团性企业。<br>
                AME(Americo Axpress Logistic Inc.)美洲快递整合集团旗下优质品牌资源"AmericoMall"
                和“美市库”强强打造的全新国际电子商务物流品台。专为全球电子商务的卖家或买家提供的海外代收、
                出口报关、国际运输、目的地国进口清关、<span style="color:#0FC1B9;">电子商务仓储</span>、订单管理、异地配送、电子商务供应链咨询等服务，满足不同买家与卖家需求的一站式物流解决平台。<br>
                AME美洲快递拥有专业的物流技术团队，先进的现代物流技术，以及成熟的国际物流服务网络，不断创造和超越国际电子商务物流服务新模式。我们提供海陆空国际货运，报关一条龙服务，比邮局快，<span style="color:#0FC1B9;">比邮局便宜,
                多寄多省</span>，提供多种形式优惠。<br>
                AME美洲快递以客户需求为企业诉求，以客户满意为服务目标，把所有复杂、繁琐和困难的物流环节留给自己，把
                方便、轻松和乐趣带给客户，为客户提供更好的服务，为客户创造更愉悦的在线体验。
                AME美洲快递将不懈努力，并继续保持和占领行业中的领先地位，成为电子商务第一物流平台。
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>

