<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <table class="table table-bordered" id="process_header">
            <thead>
            <tr>
                <th class="price_style">我们为您提供</th>
                <th class="price_style">您需要协助配合</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">等待货品入仓</td>
                <td>注册美洲快递会员，完善个人资料（身份证）</td>
            </tr>
            <tr>
                <td scope="row">记录订单</td>
                <td>包裹发出后实时更新您的订单状态</td>
            </tr>
            <tr>
                <td scope="row">接收货品，称重计费，分配及打包货品</td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">货品运输</td>
                <td></td>


            </tr>
            <tr>
                <td scope="row">追踪</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td scope="row">货品运输</td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">投诉及理赔</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>