<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" >
    <div class="col-md-5"></div>
    <div class="col-md-7" id="notes">海关政策</div>
</div>
<div class="container-fluid" style=" margin-bottom: 80px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <i>海关政策来自中国大陆海关总署官网，本网站海关政策和转载的相关新闻仅供参考。</i>

        <br>海关总署公告2012年第15号关于调整进出境个人邮递物品管理措施有关事宜
        <br>【法规类型】海关规范性文件               【法规类型】关税征收管理类
        <br>【文        号】总署公告〔2012〕15号  【发文机关】海关总署
        <br>【发布日期】2012-3-26                       【生效日期】2012-3-26
        <br>【效        力】[有效]                             【效力说明】有效
        <br>为适应市场发展需要，根据《中华人民共和国进出口关税条例》和国务院2011年1月批准调整的《中华人民共和国进境物品进口税率表》（海关总署公告2011年第6号公布），海关总署重新修订了《中华人民共和国进境物品归类表》（以下简称《归类表》，详见附件1）及《中华人民共和国进境物品完税价格表》（以下简称《完税价格表》，详见附件2），现予以公布，自2012年4月15日起执行。海关总署2007年6月修订的《入境旅客行李物品和个人邮递物品进口税税则归类表》及《入境旅客行李物品和个人邮递物品完税价格表》（海关总署公告2007年第25号公布）同时废止。
        <br>附件：
        <br>1．中华人民共和国进境物品归类表
        <br>2．中华人民共和国进境物品完税价格表
        <div style="height: 10px;"></div>
        <br>二O一二年三月二十六日
        <br>海关总署公告2010年第43号
        <br>为进一步规范对进出境个人邮递物品的监管，照顾收件人、寄件人合理需要，现就有关事项公告如下：
        <br>一、个人邮寄进境物品，海关依法征收进口税，但应征进口税税额在人民币50元（含50元）以下的，海关予以免征。
        <br>二、个人寄自或寄往港、澳、台地区的物品，每次限值为800元人民币；寄自或寄往其它国家和地区的物品，每次限值为1000元人民币。
        <br>三、个人邮寄进出境物品超出规定限值的，应办理退运手续或者按照货物规定办理通关手续。但邮包内仅有一件物品且不可分割的，虽超出规定限值，经海关审核确属个人自用的，可以按照个人物品规定办理通关手续。
        <br>四、邮运进出口的商业性邮件，应按照货物规定办理通关手续。
        <br>五、本公告内容自2010年9月1日起实行。原《海关总署关于调整进出境邮件中个人物品的限值和免税额的通知》（署监〔1994〕774号）同时废止。
        <br>特此公告

    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>