<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" >
    <div class="col-md-5"></div>
    <div class="col-md-7" id="notes">海關政策</div>
</div>
<div class="container-fluid" style=" margin-bottom: 80px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <i>海關政策來自中國大陸海關總署官網，本網站海關政策和轉載的相關新聞僅供參考。</i>

        <br>海關總署公告2012年第15號關於調整進出境個人郵遞物品管理措施有關事宜
        <br>【法規類型】海關規範性文件               【法規類型】關稅征收管理類
        <br>【文        號】總署公告〔2012〕15號  【發文機關】海關總署
        <br>【發布日期】2012-3-26                       【生效日期】2012-3-26
        <br>【效        力】[有效]                             【效力說明】有效
        <br>為適應市場發展需要，根據《中華人民共和國進出口關稅條例》和國務院2011年1月批準調整的《中華人民共和國進境物品進口稅率表》（海關總署公告2011年第6號公布），海關總署重新修訂了《中華人民共和國進境物品歸類表》（以下簡稱《歸類表》，詳見附件1）及《中華人民共和國進境物品完稅價格表》（以下簡稱《完稅價格表》，詳見附件2），現予以公布，自2012年4月15日起執行。海關總署2007年6月修訂的《入境旅客行李物品和個人郵遞物品進口稅稅則歸類表》及《入境旅客行李物品和個人郵遞物品完稅價格表》（海關總署公告2007年第25號公布）同時廢止。
        <br>附件：
        <br>1．中華人民共和國進境物品歸類表
        <br>2．中華人民共和國進境物品完稅價格表
        <div style="height: 10px;"></div>
        <br>二O壹二年三月二十六日
        <br>海關總署公告2010年第43號
        <br>為進壹步規範對進出境個人郵遞物品的監管，照顧收件人、寄件人合理需要，現就有關事項公告如下：
        <br>壹、個人郵寄進境物品，海關依法征收進口稅，但應征進口稅稅額在人民幣50元（含50元）以下的，海關予以免征。
        <br>二、個人寄自或寄往港、澳、臺地區的物品，每次限值為800元人民幣；寄自或寄往其它國家和地區的物品，每次限值為1000元人民幣。
        <br>三、個人郵寄進出境物品超出規定限值的，應辦理退運手續或者按照貨物規定辦理通關手續。但郵包內僅有壹件物品且不可分割的，雖超出規定限值，經海關審核確屬個人自用的，可以按照個人物品規定辦理通關手續。
        <br>四、郵運進出口的商業性郵件，應按照貨物規定辦理通關手續。
        <br>五、本公告內容自2010年9月1日起實行。原《海關總署關於調整進出境郵件中個人物品的限值和免稅額的通知》（署監〔1994〕774號）同時廢止。
        <br>特此公告
    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>