<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <table class="table table-bordered" id="process_header">
            <thead>
            <tr>
                <th class="price_style"> 我們為您提供</th>
                <th class="price_style">您需要協助配合</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">等待貨品入倉</td>
                <td>註冊美洲快遞會員，完善個人資料（身份證）</td>
            </tr>
            <tr>
                <td scope="row">記錄訂單</td>
                <td>包裹發出後實時更新您的訂單狀態</td>
            </tr>
            <tr>
                <td scope="row">接收貨品，稱重計費，分配及打包貨品</td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">貨品運輸</td>
                <td></td>


            </tr>
            <tr>
                <td scope="row">追蹤</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td scope="row">貨品運輸</td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">投訴及理賠</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>