<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" style="margin-left: 35%;" >
    請發送郵件至info@americoexpress.ca,我們會盡快回復，謝謝。
</div>
<br>
<div class="table table-hover" style="width: 18%;margin-left: 36%;">
    <tr>
        <td>地址：3445 Sheppard Ave E,Toronto, ON M1T 3K5</td>
    </tr>
    <br>
    <tr>
        <td>電話：647-498-8891</td>
    </tr>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>