<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row">
                    對於加拿大駐京東平臺的商家們來說，我們的系統會直接連接京東後臺，在客人下單後在系統裏自動生成我們的運單號，
                    讓客人第壹時間掌控運單追蹤，無需商家任何後續操作。
                </div><br>
                <div class="row">
                    <b>京東商家流程介紹：</b><br>
                    <br>1．京東電商：消費者在京東駐加拿大網店購買商品，生成交易
                    <br>2. 電商生成的訂單包裹發往美洲快遞（京東加拿大海外倉），美洲快遞快速處理清關出運。
                    <br>3. 美洲快遞跨境電商直郵申報，保證貨物從飛機落地到口岸清關全程不超24小時
                    <br>4. 國內我們采用京東指定合作物流，保證貨物準時到達客戶處
                    <br>5. 消費者可以通過美洲快遞網站全程掌握貨物動態。
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="row">
                        <br> <b>產品操作要求</b>
                    </div><br>
                    <div class="row">
                        <table class="table table-bordered" id="jingdong_style">
                            <thead>
                            <tr>
                                <th>商品备案</th>
                                <th>三單</th>
                                <th>身份證</th>
                                <th>清關</th>
                                <th>關口</th>
                                <th>時效</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">需要</td>
                                <td>需要</td>
                                <td>需要</td>
                                <td>電子、數據清關</td>
                                <td>上海</td>
                                <td>10-14 天</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <br><b>產品報關</b>
                            <br>美洲快遞可以為我們註冊用戶的郵寄商品提供完善的報關操作，我們擁有經驗豐富的優秀團隊，可以為您提供快速與便捷的通關服務，
                            <br>提供全程“門到門”服務，讓您足不出戶掌握壹切物流動態！報關後的商品可以享受到遠遠快於其他快遞公司的包裹清關數度與不會出現包裹無辜被海關扣留的問題現象。
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <br><b>直郵打包服務</b>
                            <br>美洲快遞為我們的商家註冊用戶提供直郵打包服務，客人只要先把需要郵寄的商品儲存在我們公司的倉庫，再根據我們的在線系統下單給我們並附上客人的身份證（正反面）復印文件給我們，
                            <br>我們就會根據客人的要求，包裝貨品與郵寄。
                            <br>直郵打包費為每個包裹 $3(加元) （直郵打包費已包括包裝材料費用）
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <br><b>倉儲服務</b>
                            <br>美洲快遞專門為我們的註冊商家用戶提供了完善的倉儲業務，客人只要把想郵寄的貨物優先儲存在我們的倉庫裏面，再配合我們提供給會員的直郵打包服務，
                            就可以享受到我們為註冊用戶提供的足不出戶就可以完成所有發貨流程的服務。
                            <br>詳情請聯系info@americoexpress.com 或 歡迎來到我們的櫃臺詢問我們的工作人員
                        </div>
                    </div>
                </div>
            </div>

<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>