<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row">
                    对于加拿大驻京东平台的商家们来说，我们的系统会直接连接京东后台，
                    在客人下单后在系统里自动生成我们的运单号，让客人第一时间掌控运单追踪，无需商家任何后续操作。
                </div><br>
                <div class="row">
                    <b>京东商家流程介绍：</b><br>
                    1．京东电商：消费者在京东驻加拿大网店购买商品，生成交易<br>
                    2. 电商生成的订单包裹发往美洲快递（京东加拿大海外仓），美洲快递快速处理清关出运。<br>
                    3. 美洲快递跨境电商直邮申报，保证货物从飞机落地到口岸清关全程不超24小时<br>
                    4. 国内我们采用京东指定合作物流，保证货物准时到达客户处<br>
                    5. 消费者可以通过美洲快递网站全程掌握货物动态。<br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="row">
                        <br> <b>产品操作要求</b>
                    </div><br>
                    <div class="row">
                        <table class="table table-bordered" id="jingdong_style">
                            <thead>
                            <tr>
                                <th>商品备案</th>
                                <th>三单</th>
                                <th>身份证</th>
                                <th>清关</th>
                                <th>关口</th>
                                <th>时效</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">需要</td>
                                <td>需要</td>
                                <td>需要</td>
                                <td>电子、数据清关</td>
                                <td>上海</td>
                                <td>10-14 天</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>