<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" style="margin-left: 20%;" >

    <br>分店壹:
    <br>Unit 6. 351 Ferrier Street. Markham. Ontario. L3R 5Z2.
    <br>Tel:905-604-4677
    <br>Fax:905-604-4877
    <br>E-mail:info@americoexpress.com


    <br>
    <br>分店二:
    <br>3445 Sheppard Ave E,Scarborough,Ontario.M1T 3K5.
    <br>Tel:905-604-4677
    <br>Fax:905-604-4877
    <br>E-mail:info@americoexpress.com


</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>