<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" style="margin-left: 15%;" >
        <div class="col-md-10">
            美洲快递惊喜返现积分会员优惠大放送！！！这是加入<b>美洲快递会员</b>的最佳时机！！！

            <br>我们的计划已经为我们的客户带来了令人惊喜的优惠。我们除了为您提供特别的优惠和活动，现在您在店内花费的每一美元都能为积1分，这将会在您将来在美洲快递的购物中以返现的方式兑现。

            <br><b>VIP可获得独家优惠和活动：</b>
            <br>除了更省钱以外，所有美洲快递会员可享有的独家优惠：
            <br>•优先获得赠品和有奖竞赛
            <br>•提前收到最新折扣的通知
            <br>•购买特定产品获得额外积分
            <br>•受邀参加特别活动
            <br>•重要的是，会员是免费的！今天就来实体店注册吧！

            <br><b>如何开始赚取：</b>
            在店内或网上注册并获得你的独家美洲快递会员ID。在美洲快递店内消费（税前）的每$ 1可积1分。

            <br><b>兑现你的PBN积分：</b>
            <br>500积分可兑换为$10并用在您的下一次购物中。
            <br>可兑换的最小面值返现额为$10。
            <br>今天就来实体店办理美洲快递返现积分会员卡吧！！ （注：需要政府签发的带照片身份证件）

            <br><b>消费获得积分：</b>
            <br>兑换制度：
            <br>500分     $10
            <br>1000分    $20
            <br>1500分    $ 30
            <br>2000分    $ 40
            <br>$ 1（税前）= 1分

            <br><b>在店中注册：</b>
            <br>在我们的任意地点实体店注册会员，除了需要出示身份证件以外，您需要提供：邮件地址和电话号码。注册后24小时内会有会员注册确认邮件发至您的邮箱。
        </div>
    </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>