<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" style="margin-left: 12%;" >
        <div class="col-md-10">
            美洲快遞驚喜返現積分會員優惠大放送！！！這是加入<b>美洲快遞會員</b>的最佳時機！！！

            <br>我們的計劃已經為我們的客戶帶來了令人驚喜的優惠。我們除了為您提供特別的優惠和活動，現在您在店內花費的每壹美元都能為積1分，這將會在您將來在美洲快遞的購物中以返現的方式兌現。

            <br><b>VIP可獲得獨家優惠和活動：</b>
            <br>除了更省錢以外，所有美洲快遞會員可享有的獨家優惠：
            <br>•優先獲得贈品和有獎競賽
            <br>•提前收到最新折扣的通知
            <br>•購買特定產品獲得額外積分
            <br>•受邀參加特別活動
            <br>•重要的是，會員是免費的！今天就來實體店註冊吧！

            <br><b>如何開始賺取：</b>
            在店內或網上註冊並獲得妳的獨家美洲快遞會員ID。在美洲快遞店內消費（稅前）的每$ 1可積2分。

            <br><b>兌現妳的PBN積分：</b>
            <br>500積分可兌換為$5並用在您的下壹次購物中。
            <br>可兌換的最小面值返現額為$10。
            <br>今天就來實體店辦理美洲快遞返現積分會員卡吧！！ （註：需要政府簽發的帶照片身份證件）

            <br><b>消費獲得積分：</b>
            <br>兌換制度：
            <br>500分     $5
            <br>1000分    $10
            <br>1500分    $15
            <br>2000分    $20
            <br>$1(稅前) = 2分

            <br><b>在店中註冊：</b>
            <br>在我們的任意地點實體店註冊會員，除了需要出示身份證件以外，您需要提供：郵件地址和電話號碼。註冊後24小時內會有會員註冊確認郵件發至您的郵箱。
        </div>
    </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>