<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/js/common.js"></script>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid">
    <div style="font-size: 30px;margin-left: 40%;"> <b>新聞公告</b></div>
    <table class="table table-hover" style="width: 80%;margin-left: 10%;">
        <tr>
            <td colspan="10">海關總署解讀《海關總署關於跨境貿易電子商務進出境貨物、物品有關監管事宜的公告》</td>
            <td colspan="2"><a href="http://www.customs.gov.cn/publish/portal0/tab49564/info715414.htm">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="10">財政部 商務部 海關總署 國家稅務總局 國家旅遊局聯合公告2016年第19號（關於口岸進境免稅店政策的公告）</td>
            <td colspan="2"><a href="http://www.customs.gov.cn/publish/portal0/tab49564/info788268.htm">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="10">海關總署解讀-匯總征稅政策</td>
            <td colspan="2"><a href="http://www.customs.gov.cn/publish/portal0/tab49564/info777751.htm">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="10">海關放話了：正制定跨境進口電商稅收政策</td>
            <td colspan="2"><a href="http://www.ebrun.com/20150714/140562.shtml">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="10">跨境電商稅收政策將在2016年出爐</td>
            <td colspan="2"><a href="http://www.weibo.com/ttarticle/p/show?id=2309403923876252937057">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="10">2016年物流政策兩會新看點</td>
            <td colspan="2"><a href="http://www.xfrb.com.cn/area/zonghezixun/zixun/2016-03-09/40010.html">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="10">物流政策支持度再提升</td>
            <td colspan="2"><a href="http://www.xfrb.com.cn/area/zonghezixun/zixun/2016-03-09/40010.html">点击查看</a></td>
        </tr>
    </table>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>

