<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <div class="col-md-5"></div>
        <div class="col-md-7" id="notes">理赔免责说明</div>
    </div>
    <div class="container-fluid" style=" margin-bottom: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <b>理赔流程</b>
            <br>1. 当收到货物时外包装明显破损的，收件人需要当场拍照取证，清点内部货物数量等，并在运单上注明异常（或让派件员开具证明），当场做拒收处理并由派件员退回。
            <br>2. 联系公司客服部门，填写理赔申请，并提供理赔所需货件描述和凭据，缺少以下任何一份文件，本公司有权不予受理。
            <br>a） 本人身份证件电子档。
            <br>b） 价值证明（订单截图或商业发票）。
            <br>c） 货物照片。
            <br>d） 运输公司派送异常证明。
            <br>e） 其他理赔相关的证明材料。
            <br>f） 如货件送达时发现货件异常请转运公司在签收时提供异常证明并拍下货件及外包装异常照片，转运公司的货件异常证明、货件及外包装破损照片是提交理赔必须的材料之一。
            <br>3. 理赔时限：自寄件之日起30个工作日或americoexpress.com系统显示寄件人指定用户签收之日起7个工作日内向公司提出理赔请求，逾期不予受理；美洲快递收到寄件人索赔通知之日起20个工作日内，完成对客户理赔申请的调查、理赔。理赔的金额会按破损的比例来计算赔偿或者以最高$150的金额赔偿。
            <br>三、免责条款
        　　<br>美洲快递不承担任何间接、附带、特殊或衍生的损失（包括但不限于收入或利润损失）所产生的赔偿责任。美洲快递不会就包括但不限于任何下列原因所引起或造成的遗失、损毁、延迟送达、误送、未送达、提供错误资料或未能提供资料负任何责任，亦不采取任何运费调整、退款或任何补偿行为：
        　　<br>1. 因寄件人的行为、不履行责任或疏忽；
        　　<br>2. 因托运货物的本质或瑕疵、特性或固有缺陷，如有明显破损等；
        　　<br>3. 寄件人违反本公司所签发的运单、本条款、服务指南、或其它协议等，包括但不限于货物故意申报不实，寄运货件的地址提交不当或不完整；
        　　<br>4. 发生空难事故、公敌入侵、政府当局、法律权限、海关或检疫所官员的行为或疏忽、暴动、罢工或其它地区性争执、民众骚乱、战争或天气所带来的危险、或由非本公司所能控制事项所致的全国性或区域性空中或地面交通系统中断或通讯系统干扰或故障。在此情况下，寄件人仍会尽合理的努力，尽快运送至目的地并完成送件。寄件人没有义务就以上一种或多种情形的可能存在向美洲快递发出通知；
        　　<br>5. 如果货件在送达时无破损且基本完整、收件人未提出异议；
        　　<br>6. 因清关手续或其它主管机关规定手续所致的延误；
        　　<br>7. 因寄件人没有及时确认关税及税金支付所致的延误；
        　　<br>8. 磁带、文件或其它存储媒体中数据的消除、或曝光底片中照相影像或音带的消除；
        　　<br>9. 寄件人未能提供能够支持多次转运需要的包装而造成的毁损，美洲快递在提供物流服务时，应当确认货件外箱包装是否清洁、完好、坚固，若不符上述要求及时通知寄件人，否则美洲快递不得因此免责；
        　　<br>10.提供错误、不完整、不正确或遗漏的地址信息，无法联系收件人，造成的重复配送所产生的费用及相关的后果的。
        </div>
    </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>