<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
    <div class="container-fluid" >
        <div class="col-md-5"></div>
        <div class="col-md-7" id="notes">理賠免責說明</div>
    </div>
    <div class="container-fluid" style=" margin-bottom: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <b>理賠流程</b>
            <br>1. 當收到貨物時外包裝明顯破損的，收件人需要當場拍照取證，清點內部貨物數量等，並在運單上註明異常（或讓派件員開具證明），當場做拒收處理並由派件員退回。
            <br>2. 聯系公司客服部門，填寫理賠申請，並提供理賠所需貨件描述和憑據，缺少以下任何壹份文件，本公司有權不予受理。
            <br>a） 本人身份證件電子檔。
            <br>b） 價值證明（訂單截圖或商業發票）。
            <br>c） 貨物照片。
            <br>d） 運輸公司派送異常證明。
            <br>e） 其他理賠相關的證明材料。
            <br>f） 如貨件送達時發現貨件異常請轉運公司在簽收時提供異常證明並拍下貨件及外包裝異常照片，轉運公司的貨件異常證明、貨件及外包裝破損照片是提交理賠必須的材料之壹。
            <br>3. 理賠時限：自寄件之日起30個工作日或americoexpress.com系統顯示寄件人指定用戶簽收之日起7個工作日內向公司提出理賠請求，逾期不予受理；美洲快遞收到寄件人索賠通知之日起20個工作日內，完成對客戶理賠申請的調查、理賠。理賠的金額會按破損的比例來計算賠償或者以最高$150的金額賠償。
            <br>三、免責條款
            　　<br>美洲快遞不承擔任何間接、附帶、特殊或衍生的損失（包括但不限於收入或利潤損失）所產生的賠償責任。美洲快遞不會就包括但不限於任何下列原因所引起或造成的遺失、損毀、延遲送達、誤送、未送達、提供錯誤資料或未能提供資料負任何責任，亦不采取任何運費調整、退款或任何補償行為：
            　　<br>1. 因寄件人的行為、不履行責任或疏忽；
            　　<br>2. 因托運貨物的本質或瑕疵、特性或固有缺陷，如有明顯破損等；
            　　<br>3. 寄件人違反本公司所簽發的運單、本條款、服務指南、或其它協議等，包括但不限於貨物故意申報不實，寄運貨件的地址提交不當或不完整；
            　　<br>4. 發生空難事故、公敵入侵、政府當局、法律權限、海關或檢疫所官員的行為或疏忽、暴動、罷工或其它地區性爭執、民眾騷亂、戰爭或天氣所帶來的危險、或由非本公司所能控制事項所致的全國性或區域性空中或地面交通系統中斷或通訊系統幹擾或故障。在此情況下，寄件人仍會盡合理的努力，盡快運送至目的地並完成送件。寄件人沒有義務就以上壹種或多種情形的可能存在向美洲快遞發出通知；
            　　<br>5. 如果貨件在送達時無破損且基本完整、收件人未提出異議；
            　　<br>6. 因清關手續或其它主管機關規定手續所致的延誤；
            　　<br>7. 因寄件人沒有及時確認關稅及稅金支付所致的延誤；
            　　<br>8. 磁帶、文件或其它存儲媒體中數據的消除、或曝光底片中照相影像或音帶的消除；
            　　<br>9. 寄件人未能提供能夠支持多次轉運需要的包裝而造成的毀損，美洲快遞在提供物流服務時，應當確認貨件外箱包裝是否清潔、完好、堅固，若不符上述要求及時通知寄件人，否則美洲快遞不得因此免責；
            　　<br>10.提供錯誤、不完整、不正確或遺漏的地址信息，無法聯系收件人，造成的重復配送所產生的費用及相關的後果的。
        </div>
    </div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>