<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/js/common.js"></script>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div style="font-size: 30px;margin-left: 40%;"><b>營業時間</b></div>
<table class="table table-hover" style="width: 8%;margin-left: 39%;">
    <tr>
        <td>星期一：10am～7pm </td>
    </tr>
    <tr>
        <td>星期二：10am～7pm </td>
    </tr>
    <tr>
        <td>星期三：10am～7pm </td>
    </tr>
    <tr>
        <td>星期四：10am～7pm </td>
    </tr>
    <tr>
        <td>星期五：10am～7pm </td>
    </tr>
    <tr>
        <td>星期六：10am～6pm </td>
    </tr>
    <tr>
        <td>星期日：10am～6pm </td>
    </tr>
</table>
<div style="font-size: 30px;margin-left: 40%;"><b>地址</b></div>
<table class="table table-hover" style="width: 18%;margin-left: 36%;">
    <tr>
        <td>地址：3445 Sheppard Ave E,Toronto, ON M1T 3K5</td>
    </tr>
    <tr>
        <td>電話：647-498-8891</td>
    </tr>
</table>

<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>