<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>
    <h1 style="text-align: center;">價格說明</h1>
    <table class="table table-bordered" id="price_header">
        <thead>
            <tr>
                <th class="price_style" rowspan="3" style=" vertical-align:top;width: 15%;text-align:center;">商品分類</th>
                <th class="price_style" style=" vertical-align:top;width: 30%;text-align:center;">具體商品名稱</th>
                <th class="price_style" style=" vertical-align:top;width: 30%;text-align:center;">裝箱規範</th>
                <th class="price_style" style=" vertical-align:top;width: 15%;text-align:center;">限重</th>
                <th class="price_style" style=" vertical-align:top;width: 15%;text-align:center;">每磅價格<br>(最低收費)<br>(首磅+續磅)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="text-align:center;">普通商品類</th>
                <td>母嬰用品：奶瓶，尿片，嬰兒洗護用品等</td>
                <td rowspan="3">8-12件商品</td>
                <td>6磅</td>
                <td rowspan="3">$5/lb<br>(最低收費$12)</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>生活日用品：成人洗化用品（洗髮水，沐浴露），玩具，文具等</td>
                <td>6磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>食品類：堅果，膨化食品，餅乾，糖果，巧克力等</td>
                <td>8磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">保健品類</th>
                <td>維他命，葡萄粉，魚油，維生素等</td>
                <td>5-8件</td>
                <td>8磅</td>
                <td>$5/lb<br>(最低收費$12)</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">嬰兒食品類</th>
                <td>奶粉，迷糊，磨牙餅乾等</td>
                <td>2罐，淨重1600g</td>
                <td>6磅</td>
                <td rowspan="2">$4.8/lb<br>(最低收費$12)</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>成人蛋白粉</td>
                <td>2-3罐，淨重3kg</td>
                <td>7磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">衣服鞋帽</th>
                <td rowspan="1">普通品牌衣物：Tommy,CK,Nike,POLO等</td>
                <td>4件，T恤3件，外套一件</td>
                <td>6磅</td>
                <td rowspan="2">首磅$14<br>續磅$6</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">二線品牌衣物：Coach，MK，Kate Spade等級別</td>
                <td>1-2件，外套1件</td>
                <td>6磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">成人，兒童鞋子</td>
                <td>1雙（可加手套，襪子配件）</td>
                <td>5磅</td>
                <td>$15+$6</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">箱包類</th>
                <td>二線品牌箱包：Coach，MK，Kate Spade等</td>
                <td>1個或錢包2個</td>
                <td>5磅</td>
                <td>$15+$6</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">護膚化妝品</th>
                <td>護膚：面霜，眼霜，精華液，爽膚水等</td>
                <td rowspan="2">4件，或1件套裝</td>
                <td rowspan="2">3磅</td>
                <td rowspan="2">$15+$6</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">唇彩：唇彩，粉底，眼線筆，眼影等<br>(一線品牌除外，如倩碧，蘭蔻，雅詩蘭黛等）</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">貴重珠寶首飾類</th>
                <td>珠寶首飾類：手鐲，戒指等</td>
                <td>1件</td>
                <td>3磅</td>
                <td rowspan="2">$18+$6<br>(小票15%税金)</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>高檔手錶</td>
                <td>1件</td>
                <td>3磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">小家電</th>
                <td>個人自用小電器：剃須刀，洗臉器等</td>
                <td>1件</td>
                <td>6磅</td>
                <td rowspan="2">$18+$6<br>(小票15%税金)</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>小家電：淨水器，空氣過濾器，攪拌機等</td>
                <td>1件</td>
                <td>6磅</td>
            </tr>
            <tr>
                <td colspan="5"  style="color: red;font-weight: bolder;font-size: large;">請嚴格遵從以上裝箱要求打包。</td>
            </tr>
            <tr>
                <td colspan="5">備註1：單批貨物同一收貨人信息限3個包裹，貨物數量請控制（單個包裹同一產品數量不得超過3個）</td>
            </tr>
            <tr>
                <td colspan="5">備註2：所有包裹2磅起收，重量每超出0.2磅按1磅計費，體積重秤量標准：尺(長*寬*高)/166=計費重量L</td>
            </tr>
            <tr>
                <td colspan="5">備註3：如沒購買額外保險，包裹最高賠償金額爲CAD$100，如需購買額外保險，保費已保額的5%來收取，最高保額CAD$500。</td>
            </tr>
        </tbody>
    </table>
    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>