<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>
    <h1 style="text-align: center;">價格說明</h1>
    <table class="table table-bordered" id="price_header">
        <thead>
            <tr>
                <th class="price_style" rowspan="3" style=" vertical-align:top;width: 15%;text-align:center;">商品分類</th>
                <th class="price_style" style=" vertical-align:top;width: 30%;text-align:center;">具體商品名稱</th>
                <th class="price_style" style=" vertical-align:top;width: 30%;text-align:center;">裝箱規範</th>
                <th class="price_style" style=" vertical-align:top;width: 15%;text-align:center;">限重</th>
                <th class="price_style" style=" vertical-align:top;width: 15%;text-align:center;">每磅價格<br>(最低收費)<br>(首磅+續磅)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="text-align:center;">普通商品類</th>
                <td>母嬰用品：奶瓶，尿片，嬰兒洗護用品等</td>
                <td rowspan="1">6-8件商品</td>
                <td>6磅</td>
                <td rowspan="4">$4.5/磅<br>(两磅起收)</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>食品類：堅果，膨化食品，餅乾，糖果，巧克力等</td>
                <td rowspan="1">6-8件商品</td>
                <td>4磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td>生活日用品：成人洗化用品（洗髮水，沐浴露），玩具，文具等</td>
                <td rowspan="1">3件，或1套裝</td>
                <td>8磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">保健品類</th>
                <td>維他命，葡萄粉，魚油，維生素等</td>
                <td>5-7件</td>
                <td>8磅</td>

            </tr>
            <tr>
                <th scope="row" style="text-align:center;">嬰兒奶粉</th>
                <td>嬰兒奶粉</td>
                <td>1-2罐，淨重1600g</td>
                <td>5磅</td>
                <td rowspan="2">$2.99/磅<br>(两磅起收)<br><p style="color: red;">嬰兒奶粉本月特價至8月31日</p></td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">蛋白粉</th>
                <td>成人蛋白粉</td>
                <td>2-3罐，淨重3kg</td>
                <td>6磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">衣服鞋帽</th>
                <td rowspan="1">普通品牌衣物：Tommy,CK,Nike,POLO等</td>
                <td>4件，T恤3件，外套一件</td>
                <td>5磅</td>
                <td rowspan="2">小于3磅：$10+6<br>大于3磅：$6.5/磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">成人，兒童鞋子</td>
                <td>1雙（可加手套，襪子配件）</td>
                <td>5磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">二線品牌衣物：Coach，MK，Kate Spade等級別</td>
                <td>1-2件，外套1件</td>
                <td>5磅</td>
                <td>小于3磅：$12+6<br>大于3磅：$6.5/磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">Canada Goose羽絨服級別</td>
                <td>1件</td>
                <td>5磅</td>
                <td>$40/件</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">箱包類</th>
                <td>二線品牌箱包：Coach，MK，Kate Spade等</td>
                <td>1個或錢包2個</td>
                <td>5磅</td>
                <td rowspan="4">$12+6</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">護膚化妝品</th>
                <td>護膚：面霜，眼霜，精華液，爽膚水等</td>
                <td rowspan="2">3件，或1件套裝</td>
                <td rowspan="2">3磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;"></th>
                <td rowspan="1">唇彩，粉底，眼線筆，眼影等<br>(一線品牌除外，如Chanel,Dior等）</td>
            </tr>

            <tr>
                <th scope="row" style="text-align:center;">首飾</th>
                <td>手镯，项链，耳环等</td>
                <td>2件<br>(总价值不能超过RMB2000)</td>
                <td>3磅</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:center;">小家電</th>
                <td>电动剃须刀，洗脸器净水器，空气过滤器，搅拌机等</td>
                <td>1件</td>
                <td>10磅</td>
                <td>$15+6</td>
            </tr>

            <tr>
                <td colspan="5"  style="color: red;font-weight: bolder;font-size: large;">請嚴格遵從以上裝箱要求打包，<br>普通商品类，保健品类，婴儿奶粉，蛋白粉类需提供收货人身份证正反面复印件</td>
            </tr>
            <tr>
                <td colspan="5">備註1：如有混装商品，请咨询工作人员装箱要求，价格按最高商品类别收取。</td>
            </tr>
            <tr>
                <td colspan="5">備註2：所有包裹重量每超出0.2磅按1磅計費，體積重秤量標準：尺(長*寬*高)/166=計費重量Lb</td>
            </tr>
            <tr>
                <td colspan="5">備註3：如沒購買額外保險，包裹最高賠償金額爲<b>CAD$100</b>，
                    如需購買額外保險，保費已保額的<b>5%</b>來收取，最高保額CAD$500。</td>
            </tr>
        </tbody>
    </table>
    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>