<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/js/common.js"></script>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <b>1.	为什么使用你们的快递是要配上收件人的身份证正反面？</b>
        <br>根据中国海关最新规定，为配合进口货物查验，证明包裹物品确系个人自用，办理海关入境清关手续时需要提交收件人身份证明。
        <br>海关相关规定请参考《中华人民共和国海关对进出境快件监管办法》第二十二条，或致电海关咨询：12360，海关会检查收货人姓名和报关的身份证信息，如果不一致时海关会驳回不予发货。所以您在使用我们快递时，需要提供身份证信息和收货人信息。
        <br><b>2.为什么我的包裹我都发给你们快递几天了，到现在还是没有物流信息？</b>
        <br>我们对于发货的延迟我们感到非常抱歉，因为我们包裹走的是海关的阳光通道，所有的包裹我们都是要优先在海关那边申报的，这样在前期可能会浪费点时间，
        <br>但是我们通关后的包裹清关数度是远远高于其他的快递公司，而且不会出现申报后的包裹无辜被海关扣留的问题。
        <br><b>3.为什么我之前给你们的包裹被拆开两个包裹来邮寄？</b>
        <br>根据海关要求，某些种类的商品是不可以跟其他商品一起混着邮寄，比如奶粉，衣服，与小型家电。这些商品根据海关要求是必须单独邮寄，这种情况下如果我们发现该包裹是混合在一起邮寄时，我们会优先把这包裹拆开成2个小包裹来邮寄。
        <br><b>4.为什么运单里面必须要填写每个货物的数量与价值？</b>
        <br>运单里面必须填写每个货物的数量与价值，这个要求主要是应对两个方面。
        <br>第一， 根据中国海关要求，每个客人自用的包裹价值是不能超过人民币1000块钱，如果海关发现该包裹的总价值是1000块或货品价值与现实价格不一样，海关就会要求退运，所以客人是必须确实填写数量与价格。
        <br>第二，如果客人包裹丢件，我们会按照运单申报的价值赔偿，但是最高不超过CAD100（运费 + 货物申报价值），所以如实填写数量与价值可以有效的保障双方。
        <br><b>5.美洲快递包装须知</b>
        <br>1.由于国内转运过程中不可避免的碰撞，所有物品必须按规定包装。请根据我们工作人员的提示来包装货物。
        <br>2.如果邮寄的是奶粉，我们建议使用本公司的提供的气囊（每个气囊CAD 0.5），使用气囊可以有效的减少奶粉98%以上破损的几率。
        <br><b>6.运单填写需知与注意事项</b>
        <br> - 请尽量使用简体中文填写, 即使填写拼音或英文也需要清晰, 避免潦草无法辨认.
        <br> - 收件人姓名、电话、地址十分重要, 缺一不可, 收取货物同时请注意核对.
        <br>- 收件人联系方式请尽量填写手机号码, 中国大陆手机11位数, 填写后请再复查, 减少错漏造成派送延误.
        <br> <b>寄件人填写格式：</b>
        <br>寄件人→城市→省份→地址→邮编→电话（建议填写手机号码）
        <br><b>地址填写格式:</b>
        <br>收件人→城市→省份→地址→邮编→电话（建议填写手机号码）
        <br><b>货物填写格式如下：</b>
        <br>商品<span style="margin-left: 16%;">品牌</span><span style="margin-left: 10%;">规格</span> <span style="margin-left: 10%;">数量</span> <span style="margin-left: 10%;">价值</span>
        <br>三文鱼油1200mg<span style="margin-left: 10%;">柯克兰</span><span style="margin-left: 10%;">360粒</span><span style="margin-left: 10%;">2瓶</span><span style="margin-left: 10%;">$20</span>
        <br> 因上述原因造成的派送延迟或退件后的二次派送，由客户自行承担相应的责任及额外费用。
        <br><b>7.美洲快递索赔申请</b>
        <br>1. 当收到货物时外包装明显破损的，收件人需要当场拍照取证，清点内部货物数量等，并在运单上注明异常（或让派件员开具证明），当场做拒收处理并由派件员退回。
        <br>2. 联系公司客服部门，填写理赔申请，并提供理赔所需货件描述和凭据，缺少以下任何一份文件，本公司有权不予受理。
        <br>a） 本人身份证件电子档。
        <br>b） 价值证明（订单截图或商业发票）。
        <br>c） 货物照片。
        <br>d） 运输公司派送异常证明。
        <br> e） 其他理赔相关的证明材料。
        <br>f） 如货件送达时发现货件异常请转运公司在签收时提供异常证明并拍下货件及外包装异常照片，转运公司的货件异常证明、货件及外包装破损照片是提交理赔必须的材料之一。
        <br>自寄件之日起30个工作日或americoexpress.com系统显示寄件人指定用户签收之日起7个工作日内向公司提出理赔请求，逾期不予受理；美洲快递收到寄件人索赔通知之日起20个工作日内，
        完成对客户理赔申请的调查、理赔。理赔的金额会按破损的比例来计算赔偿或者以最高$100的金额赔偿。
        <br><b>8.不能邮寄货物清单</b>
        <br>国际奢侈品牌(如 LV,ARMANI,HERMES等)手机.笔记本电脑.平板电脑.人参.花旗参.西洋参.海参.鱼翅.燕窝.电脑配件. 相机及镜头.BOSE 音箱.医疗用品.药用品.汽车配件. 易燃易 爆危险品.易腐蚀品.管制刀具.毒品.
        军火.文物古玩.国家货币.贵重金银首饰.钻石. （海关明文规定禁 运物品)
        <br><b>9.邮寄包裹如果被冒签或寄丢处理方法</b>
        <br>1.如发现包袱被冒签或寄丢，请第一时间联系我们并附上运单号码。（联络电邮为 info@americoexpress.com）
        <br>2.准备好收件人的身份证复印件，运单底单。
        <br>3.我们会联系国内运营公司询问详情
        <br>4.确认后会按照客人的邮寄货物的价值来赔偿，赔偿金额不会超过每个包裹$100。
    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>