<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" >
    <div class="col-md-5"></div>
    <div class="col-md-7" id="notes">禁限運品</div>
</div>
<div class="container-fluid" style=" margin-bottom: 80px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        新聞來源：美洲快遞
        <br>添加時間：2016/02/12 17:50:50
        <br><b>壹、 中國海關禁限進出口物品</b>
        <br>1.各種武器、仿真武器、彈藥及爆炸物品；
        <br>2.偽造的貨幣及偽造的有價證券；
        <br>3.對中國政治、經濟、文化、道德有害的印刷品、膠卷、照片、唱片、影片、錄音帶、錄像帶、激光視盤、計算機存儲介質及其它物品；
        <br>4.各種烈性毒藥；
        <br>5.鴉片、嗎啡、海洛因、大麻以及其它能使人成癮的麻醉品、精神藥物；
        <br>6.帶有危險性病菌、害蟲及其它有害生物的動物、植物及其產品；
        <br>7.有礙人畜健康的、來自疫區的以及其它能傳播疾病的食品、藥品或其它物品。

        <br><b>二、中國郵政局禁運品規定</b>
        <br>1.各類武器、彈藥。如槍支、子彈、炮彈、手榴彈、地雷、炸彈等。
        <br>2.各類易爆炸性物品。如雷管、炸藥、火藥、鞭炮等。
        <br>3.各類易燃燒性物品，包括液體、氣體和固體。如汽油、煤油、桐油、酒精、生漆、柴油、氣霧劑、氣體打火機、瓦斯氣瓶、磷、硫磺、火柴等。
        <br>4.各類易腐蝕性物品。如火硫酸、鹽酸、硝酸、有機溶劑、農藥、雙氧水、危險化學品等。
        <br>5.各類放射性元素及容器。如鈾、鈷、鐳、鈈等。
        <br>6.各類烈性毒藥。如鉈、氰化物、砒霜等。
        <br>7.各類麻醉藥物。如鴉片（包括罌粟殼、花、苞、葉）、嗎啡、可卡因、海洛因、大麻、冰毒、麻黃素及其它制品等。
        <br>8.各類生化制品和傳染性物品。如炭疽、危險性病菌、醫藥用廢棄物等。
        <br>9.各種危害國家安全和社會政治穩定以及淫穢的出版物、宣傳品、印刷品等。
        <br>10.各種妨害公共衛生的物品。如屍骨、動物器官、肢體、未經硝制的獸皮、未經藥制的獸骨等。
        <br>11.國家法律、法規、行政規章明令禁止流通、寄遞或進出境的物品，如國家秘密文件和資料、國家貨幣及偽造的貨幣和有價證券、仿真武器、管制刀具、珍貴文物、瀕危野生動物及其制品等。
        <br>12.包裝不妥，可能危害人身安全、汙染或者損毀其他寄遞件、設備的物品等。
        <br>13.各寄達國（地區）禁止寄遞進口的物品等。
        <br>14.其他禁止寄遞的物品。

        <br><b>三、 EMS禁止寄遞的物品</b>
        <br>1. 國家法律法規禁止流通或者寄遞的物品；
        <br>2. 爆炸性、易燃性、腐蝕性、放射性和毒性等危險物品；
        <br>3. 反動報刊、書籍、窗口或者淫穢物品；
        <br>4. 各種貨幣；
        <br>5. 妨害公共衛生的物品；
        <br>6. 容易腐爛的物品；
        <br>7. 活的動物（包裝能確保寄遞和工作人員安全的蜜蜂、蠶、水蛭除外）；
        <br>8. 包裝不妥，可能危害人身安全、汙染或損毀其它郵件設備的物品；
        <br>9. 其它不適合郵遞條件的物品。

        <br><b>四、航空禁運品</b>
        <br>1、威脅航空飛行安全的物品，指在航空運輸中，可能明顯地危害人身健康、安全或對財產造成損害的物品或物質。 主要有以下幾類：A、爆炸品：如煙花爆竹、起爆引信等；B、氣體：如壓縮氣體、幹冰、滅火器、蓄氣筒（無排放裝置，不能再充氣的）、救生器（可自動膨脹的）等；C、易燃液體：如油漆、汽油、酒精類、機油、樟腦油、發動機起動液、松節油、天拿水、膠水、香水等；D、易燃固體：自燃物質，遇水釋放易燃氣體的物質，如活性碳、鈦粉、椰肉幹、蓖麻制品、橡膠碎屑、安全火柴（盒擦的或片擦的）、幹燥的白磷、幹燥的黃磷、鎂粉等；E、氧化劑和有機過氧化物：如高錳酸鉀；F、毒性和傳染性物品：如農藥、鋰電池、催淚彈等；G、放射性物質；H、腐蝕品：如蓄電池、堿性的電池液。I、未加消磁防護包裝的磁鐵、磁鋼等含強磁的制品。
        <br>2、任何藥品。
        <br>3、其它航空禁運品，如：粉末狀物品 （不論何種顏色） 、液體（不論使用何種包裝）、外包裝有危險標誌的貨品、沒有國家音像出版社證明的音像制品（含CD、VCD）、刀具、榴蓮、帶氣火機、涉及“武器”和“槍支”概念的任何貨品（含玩具）等。

        <br><b>寄遞服務企業對禁寄物品處理辦法</b>
        <br>1、企業發現各類易燃易爆等危險物品，收寄環節發現的，不予收寄；投遞環節發現的，不予投遞。對危險品要隔離存放，對其中易發生危害的危險品，應通知公安部門，同時通報國家安全機關。
        <br>2、企業發現各類放射性物品、生化制品、麻醉藥物、傳染性物品和烈性毒藥，應立即通知防化及公安部門按應急預案處理。同時通報國家安全機關。
        <br>3、企業發現各種危害國家安全和社會政治穩定以及淫穢的出版物、宣傳品、印刷品，應及時通知公安、國家安全和新聞出版部門處理。
        <br>4、企業發現妨害公共衛生的物品和容易腐爛的物品，應視情況通知寄件人限期領回，無法通知寄件人領回的可就地銷毀
        <br>5、企業對包裝不妥，可能危害人身安全，汙染或損毀其他寄遞物品和設備的，收寄環節發現後，應通知寄件人限期領回。經轉或投遞中發現的，應根據具體情況妥善處理。
        <br>6、企業發現禁止進出境的物品，應移交海關處理。
        <br>7、其他情形，可通知相關政府監管部門處理。
    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>