<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" >
    <div class="col-md-5"></div>
    <div class="col-md-7" id="notes">禁限运品</div>
</div>
<div class="container-fluid" style=" margin-bottom: 80px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        新闻来源：美洲快递
        <br>添加时间：2016/02/12 17:50:50
        <br><b>一、 中国海关禁限进出口物品</b>
        <br>1.各种武器、仿真武器、弹药及爆炸物品；
        <br>2.伪造的货币及伪造的有价证券；
        <br>3.对中国政治、经济、文化、道德有害的印刷品、胶卷、照片、唱片、影片、录音带、录像带、激光视盘、计算机存储介质及其它物品；
        <br>4.各种烈性毒药；
        <br>5.鸦片、吗啡、海洛因、大麻以及其它能使人成瘾的麻醉品、精神药物；
        <br>6.带有危险性病菌、害虫及其它有害生物的动物、植物及其产品；
        <br>7.有碍人畜健康的、来自疫区的以及其它能传播疾病的食品、药品或其它物品。

        <br><b>二、中国邮政局禁运品规定</b>
        <br>1.各类武器、弹药。如枪支、子弹、炮弹、手榴弹、地雷、炸弹等。
        <br>2.各类易爆炸性物品。如雷管、炸药、火药、鞭炮等。
        <br>3.各类易燃烧性物品，包括液体、气体和固体。如汽油、煤油、桐油、酒精、生漆、柴油、气雾剂、气体打火机、瓦斯气瓶、磷、硫磺、火柴等。
        <br>4.各类易腐蚀性物品。如火硫酸、盐酸、硝酸、有机溶剂、农药、双氧水、危险化学品等。
        <br>5.各类放射性元素及容器。如铀、钴、镭、钚等。
        <br>6.各类烈性毒药。如铊、氰化物、砒霜等。
        <br>7.各类麻醉药物。如鸦片（包括罂粟壳、花、苞、叶）、吗啡、可卡因、海洛因、大麻、冰毒、麻黄素及其它制品等。
        <br>8.各类生化制品和传染性物品。如炭疽、危险性病菌、医药用废弃物等。
        <br>9.各种危害国家安全和社会政治稳定以及淫秽的出版物、宣传品、印刷品等。
        <br>10.各种妨害公共卫生的物品。如尸骨、动物器官、肢体、未经硝制的兽皮、未经药制的兽骨等。
        <br>11.国家法律、法规、行政规章明令禁止流通、寄递或进出境的物品，如国家秘密文件和资料、国家货币及伪造的货币和有价证券、仿真武器、管制刀具、珍贵文物、濒危野生动物及其制品等。
        <br>12.包装不妥，可能危害人身安全、污染或者损毁其他寄递件、设备的物品等。
        <br>13.各寄达国（地区）禁止寄递进口的物品等。
        <br>14.其他禁止寄递的物品。

        <br><b>三、 EMS禁止寄递的物品</b>
        <br>1. 国家法律法规禁止流通或者寄递的物品；
        <br>2. 爆炸性、易燃性、腐蚀性、放射性和毒性等危险物品；
        <br>3. 反动报刊、书籍、窗口或者淫秽物品；
        <br>4. 各种货币；
        <br>5. 妨害公共卫生的物品；
        <br>6. 容易腐烂的物品；
        <br>7. 活的动物（包装能确保寄递和工作人员安全的蜜蜂、蚕、水蛭除外）；
        <br>8. 包装不妥，可能危害人身安全、污染或损毁其它邮件设备的物品；
        <br>9. 其它不适合邮递条件的物品。

        <br><b>四、航空禁运品</b>
        <br>1、威胁航空飞行安全的物品，指在航空运输中，可能明显地危害人身健康、安全或对财产造成损害的物品或物质。 主要有以下几类：A、爆炸品：如烟花爆竹、起爆引信等；B、气体：如压缩气体、干冰、灭火器、蓄气筒（无排放装置，不能再充气的）、救生器（可自动膨胀的）等；C、易燃液体：如油漆、汽油、酒精类、机油、樟脑油、发动机起动液、松节油、天拿水、胶水、香水等；D、易燃固体：自燃物质，遇水释放易燃气体的物质，如活性碳、钛粉、椰肉干、蓖麻制品、橡胶碎屑、安全火柴（盒擦的或片擦的）、干燥的白磷、干燥的黄磷、镁粉等；E、氧化剂和有机过氧化物：如高锰酸钾；F、毒性和传染性物品：如农药、锂电池、催泪弹等；G、放射性物质；H、腐蚀品：如蓄电池、碱性的电池液。I、未加消磁防护包装的磁铁、磁钢等含强磁的制品。
        <br>2、任何药品。
        <br>3、其它航空禁运品，如：粉末状物品 （不论何种颜色） 、液体（不论使用何种包装）、外包装有危险标志的货品、没有国家音像出版社证明的音像制品（含CD、VCD）、刀具、榴莲、带气火机、涉及“武器”和“枪支”概念的任何货品（含玩具）等。

        <br><b>寄递服务企业对禁寄物品处理办法</b>
        <br>1、企业发现各类易燃易爆等危险物品，收寄环节发现的，不予收寄；投递环节发现的，不予投递。对危险品要隔离存放，对其中易发生危害的危险品，应通知公安部门，同时通报国家安全机关。
        <br>2、企业发现各类放射性物品、生化制品、麻醉药物、传染性物品和烈性毒药，应立即通知防化及公安部门按应急预案处理。同时通报国家安全机关。
        <br>3、企业发现各种危害国家安全和社会政治稳定以及淫秽的出版物、宣传品、印刷品，应及时通知公安、国家安全和新闻出版部门处理。
        <br>4、企业发现妨害公共卫生的物品和容易腐烂的物品，应视情况通知寄件人限期领回，无法通知寄件人领回的可就地销毁
        <br>5、企业对包装不妥，可能危害人身安全，污染或损毁其他寄递物品和设备的，收寄环节发现后，应通知寄件人限期领回。经转或投递中发现的，应根据具体情况妥善处理。
        <br>6、企业发现禁止进出境的物品，应移交海关处理。
        <br>7、其他情形，可通知相关政府监管部门处理。
    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>