<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" >
    <div class="col-md-5"></div>
    <div class="col-md-7" id="notes">發貨原則</div>
</div>
<div class="container-fluid" style=" margin-bottom: 80px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        新聞來源：美洲快遞
        <br>添加時間：2016/02/10 18:56:13
        <br><b>壹、包裝原則</b>
        <br>1、適合運輸：包裝的目地在於防止和避免在運輸中由於沖擊或震動所產生的破損，兼顧防潮和防盜功能；
        <br>2、便於裝卸：完好的包裝將有利於貨物的裝卸，將有效地提高貨物的裝卸效率，同時能夠避免由於第三方的野蠻裝卸而可能給貨物帶來的損害；
        <br>3、適度包裝：對貨物進行包裝時，要根據貨物尺寸、重量和運輸特性選用大小合適的包裝箱及包裝填充物，要盡量避免不足包裝造成的貨物破損和過度包裝造成的包材浪費；
        <br>4、保護產品、防盜：包裝在保證快件內容的使用特性和外觀特性不被損壞的情況下，更要註意防盜——特別是對於高價值貨物的包裝；
        <br>5、包裝件成壹體：外包裝要和快件的保護材料、緩沖材料和內容物成為壹體，內容物之間（壹個外包裝內含有多個內容物時）或內容物與外包裝內壁之間不應有磨擦、碰撞和擠壓；
        <br>6、註意方向：對於有放置方向要求的貨物，在包裝、儲存和運輸過程中必須保證按照外包裝上的箭頭標識正確放置貨物，杜絕側放和倒放；
        <br>7、重心中心合壹：包裝件的重心和其幾何中心應該合壹或比較接近，這樣可以防止貨物在運輸過程中由於起動、轉彎和剎車給貨物帶來的損失。
        <div style="height: 10px;"></div>
        <br><b>二、重新包裝標準</b>
        <br>以下包裝在外包裝完好，不影響內件數量和質量的情況下，應當更換包裝，如不經過重新包裝出運，可能造成貨物的遺失、破損，或因包裝不規則造成體積重量超出預計，並產生可能的附加手續費。
        <br>1、不恰當的包裝材料
        <br>2、使用帶子、繩索或膠帶進行纏繞的商品包裝。拆除帶子、繩索，附加氣泡膜、包裝箱等。
        <br>3、重復使用之盒子或箱子。必須去除包裝外側所有標簽、號碼、地址信息及壹切有可能影響操作人員識別的粘貼物品和信息，無法處理的拆除原包裝。
        <br>4、易破損的材料。如保麗龍、塑料、編織袋等。
        <br>5、公文包、行李袋、行李箱等。不接受公文包、行李袋作為外包裝的貨物。
        <br>6、強度不足的包裝。不接受客戶使用有壓垮痕跡、有破洞及有油漬、水漬的使用過的箱子（不影響簽收）對貨物進行包裝，以及受潮或強度不夠的瓦楞紙箱。
        <br>7、商品包裝。商品包裝不能直接作為運輸包裝。
        <br>8、木質包裝。
        <br>9、任何報刊、報紙、宣傳海報等不能作為外包裝。
    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>