<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>
</head>
<body>
<!-- 页头 -->
<?php include("App/Home/View/Default/common/header.html"); ?>
<div class="container-fluid" >
    <div class="col-md-5"></div>
    <div class="col-md-7" id="notes">发货原则</div>
</div>
<div class="container-fluid" style=" margin-bottom: 80px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        新闻来源：美洲快递
        <br>添加时间：2016/02/10 18:56:13
        <br><b>一、包装原则</b>
        <br>1、适合运输：包装的目地在于防止和避免在运输中由于冲击或震动所产生的破损，兼顾防潮和防盗功能；
        <br>2、便于装卸：完好的包装将有利于货物的装卸，将有效地提高货物的装卸效率，同时能够避免由于第三方的野蛮装卸而可能给货物带来的损害；
        <br>3、适度包装：对货物进行包装时，要根据货物尺寸、重量和运输特性选用大小合适的包装箱及包装填充物，要尽量避免不足包装造成的货物破损和过度包装造成的包材浪费；
        <br>4、保护产品、防盗：包装在保证快件内容的使用特性和外观特性不被损坏的情况下，更要注意防盗——特别是对于高价值货物的包装；
        <br>5、包装件成一体：外包装要和快件的保护材料、缓冲材料和内容物成为一体，内容物之间（一个外包装内含有多个内容物时）或内容物与外包装内壁之间不应有磨擦、碰撞和挤压；
        <br>6、注意方向：对于有放置方向要求的货物，在包装、储存和运输过程中必须保证按照外包装上的箭头标识正确放置货物，杜绝侧放和倒放；
        <br>7、重心中心合一：包装件的重心和其几何中心应该合一或比较接近，这样可以防止货物在运输过程中由于起动、转弯和刹车给货物带来的损失。
        <div style="height: 10px;"></div>
        <br><b>二、重新包装标准</b>
        <br>以下包装在外包装完好，不影响内件数量和质量的情况下，应当更换包装，如不经过重新包装出运，可能造成货物的遗失、破损，或因包装不规则造成体积重量超出预计，并产生可能的附加手续费。
        <br>1、不恰当的包装材料
        <br>2、使用带子、绳索或胶带进行缠绕的商品包装。拆除带子、绳索，附加气泡膜、包装箱等。
        <br>3、重复使用之盒子或箱子。必须去除包装外侧所有标签、号码、地址信息及一切有可能影响操作人员识别的粘贴物品和信息，无法处理的拆除原包装。
        <br>4、易破损的材料。如保丽龙、塑料、编织袋等。
        <br>5、公文包、行李袋、行李箱等。不接受公文包、行李袋作为外包装的货物。
        <br>6、强度不足的包装。不接受客户使用有压垮痕迹、有破洞及有油渍、水渍的使用过的箱子（不影响签收）对货物进行包装，以及受潮或强度不够的瓦楞纸箱。
        <br>7、商品包装。商品包装不能直接作为运输包装。
        <br>8、木质包装。
        <br>9、任何报刊、报纸、宣传海报等不能作为外包装。
    </div>
</div>
<!-- 页脚 -->
<?php include("App/Home/View/Default/common/footer.html"); ?>
</body>
</html>