.order_print_field {
    width: 27%;
    padding-left: 4px;
}
.order_print_data {
    padding-left: 4px;
    width: 23%;
}
.receiver .order_print_field {
    border-right: 1px;
}
.sender, .receiver {
    font-size: medium;
    margin-top: 20px;
    width: 49%;
    line-height: 35px;
}
.sender {
    border-left: 0;
}
.receiver {
    border-right: 0;
    margin-left: 2%;
}