<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/head.html"); ?>

    <script src="<?php echo ROOT_PATH; ?>Public/bootstrap/js/jquery-migrate-1.1.0.js"></script><!--jqprint不兼容高版本jquery，这是迁移辅助插件-->
    <script src="<?php echo ROOT_PATH; ?>Public/bootstrap/js/jquery.jqprint.js"></script>

    <link rel="stylesheet" type="text/css" href="<?php echo ROOT_PATH; ?>App/Home/View/Default/Order/css/order_done.css">
</head>
<body>
    <!-- 页头 -->
    <?php include("App/Home/View/Default/common/header.html"); ?>

    <div class="container-fluid">
        <!-- 打印订单 -->
        <?php if (!empty($order)) { ?>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!-- 打印区域，为了不受窗口大小影响，写死宽度 -->
                    <div id="print_area" style="width: 1024px; border: 1px solid #000; margin-left: auto; margin-right: auto;">
                        <!-- 表单头部 -->
                        <div style="width: 40%; display: inline-block; float: left; text-align:center">
                            <img src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/about_us_logo.png" style="width: 308px;">
                        </div>
                        <div style="width: 60%; display: inline-block;">
                            <h3>Tracking #/運單號：{$order.ame_no}</h3>
                            <h3>Date/日期：{$order.date}</h3>
                        </div><!-- 表单头部结束 -->

                        <!-- AME信息 -->
                        <div style="width: 100%; border-top: 1px solid #000; border-bottom: 1px solid #000; padding-left: 15px;">
                            <h5><b>Address/地址：3445 Sheppard Ave E, Scarborough, Ontario, Canada M1T 3K5</b></h5>
                            <h5><b>
                                <span>Phone/電話： 905-604-4677</span>
                                <span style="margin-left: 35px;">Email/郵編： info@americoexpress.ca</span>
                            </b></h5>
                            <h5><b>Website/網址： www.americoexpress.com</b></h5>
                        </div><!-- AME信息结束 -->

                        <!-- 寄/收件人信息 -->
                        <div style="width: 100%; display: flex;">
                            <table class="sender" border="1">
                                <tr>
                                    <td class="order_print_field">Sender/ 寄件人:</td>
                                    <td colspan="3" class="order_print_data">{$order.s_name}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Company/公司:</td>
                                    <td colspan="3" class="order_print_data">{$order.s_company}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">City/城市:</td>
                                    <td class="order_print_data">{$order.s_city}</td>
                                    <td class="order_print_field">Province/省:</td>
                                    <td class="order_print_data">{$order.s_province}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Address/地址:</td>
                                    <td colspan="3" class="order_print_data">{$order.s_address}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Postcode/郵編:</td>
                                    <td class="order_print_data">{$order.s_zip}</td>
                                    <td class="order_print_field">Country/國家:</td>
                                    <td class="order_print_data">{$order.s_country}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">E-mail/電郵:</td>
                                    <td colspan="3" class="order_print_data">{$order.s_email}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Phone/電話:</td>
                                    <td colspan="3" class="order_print_data">{$order.s_phone}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Mbr#/会员号:</td>
                                    <td colspan="3" class="order_print_data">{$order.s_id}</td>
                                </tr>
                            </table><!-- 寄件人结束 -->
                            <table class="receiver" border="1">
                                <tr>
                                    <td class="order_print_field">Recipient/收件人:</td>
                                    <td colspan="3" class="order_print_data">{$order.r_name}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Company/公司:</td>
                                    <td colspan="3" class="order_print_data">{$order.r_company}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">City/城市:</td>
                                    <td class="order_print_data" style="border-right: 1px;">{$order.r_city}</td>
                                    <td class="order_print_field">Province/省:</td>
                                    <td class="order_print_data" style="width: 25%;">{$order.r_province}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Address/地址:</td>
                                    <td colspan="3" class="order_print_data">{$order.r_address}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Postcode/郵編:</td>
                                    <td class="order_print_data" style="border-right: 1px;">{$order.r_zip}</td>
                                    <td class="order_print_field">Country/國家:</td>
                                    <td class="order_print_data">{$order.r_country}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">E-mail/電郵:</td>
                                    <td colspan="3" class="order_print_data">{$order.r_email}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">Phone/電話:</td>
                                    <td colspan="3" class="order_print_data">{$order.r_phone}</td>
                                </tr>
                                <tr>
                                    <td class="order_print_field">ID #/中國身份證:</td>
                                    <td colspan="3" class="order_print_data">{$order.r_id}</td>
                                </tr>
                            </table><!-- 收件人结束 -->
                        </div><!-- 寄/收件人信息结束 -->

                        <!-- 产品信息 -->
                        <div style="width: 100%; margin-top: 20px;">
                            <table style="width: 100%; text-align: center;" border="1">
                                <thead><tr>
                                    <th style="text-align: center;">UPC/條形碼</th>
                                    <th style="text-align: center;">Brand/品牌</th>
                                    <th style="text-align: center;">Item English Name/商品英文名</th>
                                    <th style="text-align: center;">Item Chinese Name/商品中文名</th>
                                    <th style="text-align: center;">Quantity/數量</th>
                                    <th style="text-align: center;">Unit value/單價</th>
                                </tr></thead>
                                <tbody>
                                    <?php foreach($goods as $good) { ?>
                                        <tr>
                                            <td>{$good.code}</td>
                                            <td>{$good.brand}</td>
                                            <td>{$good.name_en}</td>
                                            <td>{$good.name_cn}</td>
                                            <td>{$good.quantity}</td>
                                            <td>{$good.unit_value}</td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div><!-- 产品信息结束 -->

                        <!-- 手填区域 -->
                        <div style="width: 100%; margin-top: 25px; font-size: larger; font-weight: 600;">
                            <div style="width: 40%; border-bottom: 1px solid #000; display: inline-block;">
                                <span>Sender's Signature</span>
                                <br>
                                <span>寄件人簽名</span>
                            </div>
                            <div style="width: 40%; border-bottom: 1px solid #000; display: inline-block; float: right;">
                                <span>Weight / lbs</span>
                                <br>
                                <span>重量 / 磅</span>
                            </div>
                        </div>
                        <div style="width: 100%; margin-top: 25px; font-size: larger; font-weight: 600;">
                            <div style="width: 40%; border-bottom: 1px solid #000; display: inline-block;">
                                <span>Date</span>
                                <br>
                                <span>日期</span>
                            </div>
                            <div style="width: 40%; border-bottom: 1px solid #000; display: inline-block; float: right;">
                                <span>Total Charge / CAD</span>
                                <br>
                                <span>費用 / 加幣</span>
                            </div>
                        </div><!-- 手填区域结束 -->

                        <!-- 声明 -->
                        <div style="width: 100%; margin-top: 25px; padding: 0 10px;">
                            <p>1.根據中國有關規定,海外包裹快遞進入中國大陸需要提供收件人身份證複印件正反兩面。</p>
                            <p>2.托運物品實際包裹裝箱情況填寫，我公司對任何因為包裹清單填寫造成的延遲清關，退關等不負責任。</p>
                            <p>3.根據中國海關與本國航空要求，我公司有權對快件開包檢查，對於中國海關要求包裹徵稅，我公司會通知寄件人支付該部分稅款，並有權利在收到寄件人稅款後才予以清關。一切以中國海關核計為準和最後決定。</p>
                            <p>4.由於海關清關的不確定性，我公司不對包裹抵達收件人手裡的時間做任何承諾，一般情況會在第一天本地機場到達，第三天到達中國機場海關。</p>
                            <p>5.如未購買保險，本包裹丟失賠償上限為100加元整。</p>
                            <p>6.保證上述向海關申報內容真實性，如出現虛假申報，一切後果需本人承擔。</p>
                        </div><!-- 声明结束 -->
                    </div><!-- 打印区域结束 -->
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <button class="btn btn-lg btn-primary" onclick="printer('print_area');">Print / 打印</button>
                </div>
            </div>
        <!-- 未找到订单 -->
        <?php } else { ?>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    Cannot find order / 找不到訂單
                </div>
            </div>
        <?php } ?>
    </div>

    <!-- 页脚 -->
    <?php include("App/Home/View/Default/common/footer.html"); ?>

    <script>
        function printer(id) {
            $("#" + id).jqprint();
        }
    </script>
</body>
</html>