<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/admin_head.html"); ?>
</head>
<body data-auth="<?php echo $AUTH ? 'true' : 'false'; ?>" data-login="{$auth_url}">
    <div class="container-fluid container-top-margin">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form class="form-inline" action="" method="post" onsubmit="return check_cond($(this));">
                    <div class="form-group">
                        <label for="condition">模糊查找</label>
                        <input type="text" id="condition" name="condition" placeholder="条形码、商品名">
                    </div>

                    <!-- 之前的查询内容 -->
                    <?php foreach($pre_conds as $cond) { ?>
                        <input type="hidden" class="pre_conds" name="pre_conds[]" value="{$cond}">
                    <?php } ?>

                    <button class="btn btn-default btn-sm" type="submit">搜索</button>
                    <?php if ($pre_conds) { ?>
                        <button class="btn btn-default btn-sm" onclick="$(this).parent().find('.pre_conds').remove(); $(this).remove(); return false;">去除之前的查询条件</button>
                    <?php } ?>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover">
                    <thead><tr>
                        <th><input type="checkbox" onclick="select_all($(this));"></th>
                        <th>条形码</th>
                        <th>中文名</th>
                        <th>英文名</th>
                        <th>单价（C$）</th>
                        <th>备案状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody>
                        <?php foreach($goods as $good) { ?>
                            <tr>
                                <td><input type="checkbox" class="select_tar"></td>
                                <td>{$good.code}</td>
                                <td>{$good.name_cn}</td>
                                <td>{$good.name_en}</td>
                                <td>{$good.unit_value}</td>
                                <td class="state_detail">{$good.state_detail}</td>
                                <td>
                                    <a class="btn btn-default btn-xs" href="good_detail/id/{$good.id}.html" role="button">修改</a>
                                    <a class="btn btn-default btn-xs state-case case-pending" href="#" role="button" onclick="update_good_state($(this), {$good.id}, 'submitted');" <?php if ($good['state'] != 'pending') { ?>style="display:none;"<?php } ?>>已提交</a>
                                    <a class="btn btn-default btn-xs state-case case-submitted" href="#" role="button" onclick="update_good_state($(this), {$good.id}, 'pending');" <?php if ($good['state'] != 'submitted') { ?>style="display:none;"<?php } ?>>未提交</a>
                                    <a class="btn btn-default btn-xs state-case case-submitted" href="#" role="button" onclick="update_good_state($(this), {$good.id}, 'done');" <?php if ($good['state'] != 'submitted') { ?>style="display:none;"<?php } ?>>已备案</a>
                                    <a class="btn btn-default btn-xs state-case case-done" href="#" role="button" onclick="update_good_state($(this), {$good.id}, 'submitted');" <?php if ($good['state'] != 'done') { ?>style="display:none;"<?php } ?>>未备案</a>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-right">
                {$page}
            </div>
        </div>
    </div>

    <!-- 页面控制器 -->
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/Admin/js/admin_main.js"></script>

    <script>
        // 更新商品备案状态
        function update_good_state(e, id, state) {
            var url = "<?php echo ROOT_PATH;?>Home/Admin/ajax_good_state/id/" + id + "/state/" + state + ".html";
            $.get(url, function (data) {
                if (data != null && data['result']) {
                    e = e.parent(); // <td>
                    e.parent().find(".state_detail").html(data['state_detail']); // 修改备案状态内容
                    // 改变按钮
                    e.find(".state-case").css("display", "none");
                    switch(data['state']) {
                        case "pending":
                            e.find(".case-pending").css("display", "");
                            break;
                        case "submitted":
                            e.find(".case-submitted").css("display", "");
                            break;
                        case "done":
                            e.find(".case-done").css("display", "");
                            break;
                    }
                }
            });
        }
    </script>
</body>
</html>