<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/admin_head.html"); ?>
</head>
<body data-auth="<?php echo $AUTH ? 'true' : 'false'; ?>" data-login="{$auth_url}">
    <div class="container-fluid container-top-margin">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form class="form-inline" action="" method="post" onsubmit="return check_cond($(this));">
                    <div class="form-group">
                        <label for="condition">模糊查找</label>
                        <input type="text" id="condition" name="condition" placeholder="ID、单号">
                    </div>

                    <!-- 之前的查询内容 -->
                    <?php foreach($pre_conds as $cond) { ?>
                        <input type="hidden" class="pre_conds" name="pre_conds[]" value="{$cond}">
                    <?php } ?>

                    <button class="btn btn-default btn-sm" type="submit">搜索</button>
                    <?php if ($pre_conds) { ?>
                        <button class="btn btn-default btn-sm" onclick="$(this).parent().find('.pre_conds').remove(); $(this).remove(); return false;">去除之前的查询条件</button>
                    <?php } ?>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover">
                    <thead><tr>
                        <th><input type="checkbox" onclick="select_all($(this));"></th>
                        <th>ID</th>
                        <th>AME单号</th>
                        <th>下单日期</th>
                        <th>寄件人</th>
                        <th>收件人</th>
                        <th>重量(kg)</th>
                        <th>快递公司</th>
                        <th>快递单号</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody>
                        <?php foreach($orders as $order) { ?>
                            <tr>
                                <td><input type="checkbox" class="select_tar"></td>
                                <td>{$order.id}</td>
                                <td>{$order.ame_no}</td>
                                <td>{$order.date}</td>
                                <td>{$order.s_name}</td>
                                <td>{$order.r_name}</td>
                                <td>{$order.weight}</td>
                                <td>{$order.track_company}</td>
                                <td>{$order.track_no}</td>
                                <td>{$order.state_detail}</td>
                                <td>
                                    <a class="btn btn-default btn-xs" href="<?php echo ROOT_PATH; ?>Home/Order/order_done/id/{$order.id}.html" role="button">查看</a>
                                    <?php if ($order['state'] == 'pending' || $order['state'] == 'cancel') { ?>
                                        <a class="btn btn-default btn-xs" href="order_detail/id/{$order.id}.html" role="button">修改</a>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_ws($(this), {$order.id}); return false;">发送</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'empty') { ?>
                                        <a class="btn btn-default btn-xs" href="order_add/ame_no/{$order.ame_no}.html" role="button">添加</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'pending' || $order['state'] == 'empty') { ?>
                                        <a class="btn btn-default btn-xs" href="#" role="button">取消</a>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-right">
                {$page}
            </div>
        </div>
    </div>

    <!-- 页面控制器 -->
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/Admin/js/admin_main.js"></script>

    <script>
        // 推送给威盛
        function push_to_ws(e, id) {
            if (confirm("确定发送？")) {
                /*var url = "<?php echo ROOT_PATH;?>Home/Order/push_to_ws.html";
                $.post(url, {'order_id':id}, function(data) {
                    //location.reload();
                });*/
            }
        }
    </script>
</body>
</html>