<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/admin_head.html"); ?>
</head>
<body data-auth="<?php echo $AUTH ? 'true' : 'false'; ?>" data-login="{$auth_url}">
    <div class="container-fluid container-top-margin">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" action="" method="post">
                    <div class="page-header">
                        <h1 class="text-center">
                            {$order.ame_no} <small>{$order.date}</small>
                            <button class="btn btn-primary btn-lg" type="submit" style="float: right;">提交改动</button>
                        </h1>
                    </div>

                    <h3>订单状态：{$order.state}</h3>

                    <h3>寄件人</h3>
                    <div class="form-group">
                        <label for="s_name" class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="s_name" data-name="s_name" value="{$order.s_name}">
                        </div>
                        <label for="s_company" class="col-sm-1 control-label">公司</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="s_company" data-name="s_company" value="{$order.s_company}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="s_address" class="col-sm-1 control-label">地址</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control update" id="s_address" data-name="s_address" value="{$order.s_address}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="s_city" class="col-sm-1 control-label">城市</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control update" id="s_city" data-name="s_city" value="{$order.s_city}">
                        </div>
                        <label for="s_province" class="col-sm-1 control-label">省份</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control update" id="s_province" data-name="s_province" value="{$order.s_province}">
                        </div>
                        <label for="s_country" class="col-sm-1 control-label">国家</label>
                        <div class="col-sm-3">
                            <select data-name="s_country" id="s_country"  class="form-control update">
                                <?php foreach($countries as $country) { ?>
                                    <option value="{$country.code}" <?php if ($country['code']==$order['s_country']) {?>selected<?php } ?>>{$country.name_cn}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="s_zip" class="col-sm-1 control-label">邮编</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="s_zip" data-name="s_zip" value="{$order.s_zip}">
                        </div>
                        <label for="s_phone" class="col-sm-1 control-label">电话</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="s_phone" data-name="s_phone" value="{$order.s_phone}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="s_email" class="col-sm-1 control-label">邮箱</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control update" id="s_email" data-name="s_email" value="{$order.s_email}">
                        </div>
                        <label for="s_id" class="col-sm-1 control-label">会员</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="s_id" data-name="s_id" value="{$order.s_id}">
                        </div>
                    </div>

                    <h3>收件人</h3>
                    <div class="form-group">
                        <label for="r_name" class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="r_name" data-name="r_name" value="{$order.r_name}">
                        </div>
                        <label for="r_company" class="col-sm-1 control-label">公司</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="r_company" data-name="r_company" value="{$order.r_company}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="r_address" class="col-sm-1 control-label">地址</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control update" id="r_address" data-name="r_address" value="{$order.r_address}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="r_city" class="col-sm-1 control-label">城市</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control update" id="r_city" data-name="r_city" value="{$order.r_city}">
                        </div>
                        <label for="r_province" class="col-sm-1 control-label">省份</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control update" id="r_province" data-name="r_province" value="{$order.r_province}">
                        </div>
                        <label for="r_country" class="col-sm-1 control-label">国家</label>
                        <div class="col-sm-3">
                            <select data-name="r_country" id="r_country"  class="form-control update">
                                <?php foreach($countries as $country) { ?>
                                    <option value="{$country.code}" <?php if ($country['code']==$order['r_country']) {?>selected<?php } ?>>{$country.name_cn}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="r_zip" class="col-sm-1 control-label">邮编</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="r_zip" data-name="r_zip" value="{$order.r_zip}">
                        </div>
                        <label for="r_phone" class="col-sm-1 control-label">电话</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="r_phone" data-name="r_phone" value="{$order.r_phone}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="r_email" class="col-sm-1 control-label">邮箱</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control update" id="r_email" data-name="r_email" value="{$order.r_email}">
                        </div>
                        <label for="r_id" class="col-sm-1 control-label">证件</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="r_id" data-name="r_id" value="{$order.r_id}">
                        </div>
                    </div>

                    <h3>商品清单</h3>
                    <div class="form-group">
                        <label for="weight" class="col-sm-1 control-label">重量（lb）</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control update" id="weight" data-name="weight" value="{$order.weight}">
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead><tr>
                            <th>条形码</th>
                            <th>中文名</th>
                            <th>英文名</th>
                            <th>品牌</th>
                            <th>规格</th>
                            <th>数量</th>
                            <th>单价（C$）</th>
                            <th>备案状态</th>
                            <th></th>
                        </tr></thead>
                        <tbody class="admin_goods_list">
                            <?php foreach($goods as $good) { ?>
                                <tr>
                                    <td>{$good.code}</td>
                                    <td>{$good.name_cn}</td>
                                    <td>{$good.name_en}</td>
                                    <td>{$good.brand}</td>
                                    <td>{$good.spec}</td>
                                    <td class="editable" ondblclick="editable($(this));" data-editing="false"  data-type="text" data-url="<?php echo ROOT_PATH; ?>Home/Admin/ajax_order_data.html" data-name="quantity" data-max_width="50" data-data_num="3" data-key1="order_id" data-val1="{$order.id}" data-key2="good_id" data-val2="{$good.id}" data-key3="database" data-val3="order_goods">
                                        {$good.quantity}
                                    </td>
                                    <td>{$good.unit_value}</td>
                                    <td>{$good.state}</td>
                                    <td class="text-center"><a href="" onclick="order_remove_good($(this)); return false;" data-order_id="{$order.id}" data-good_id="{$good.id}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                                </tr>
                            <?php } ?>
                            <!-- 添加新商品 -->
                            <tr id="add_new_good" data-order_id="{$order.id}">
                                <td>
                                    <label for="code" class="sr-only"></label>
                                    <input type="text" id="code" onchange="get_good_info($(this));" placeholder="先填条形码">
                                </td>
                                <td>
                                    <label for="name_cn" class="sr-only"></label>
                                    <input type="text" id="name_cn" readonly>
                                </td>
                                <td>
                                    <label for="name_en" class="sr-only"></label>
                                    <input type="text" id="name_en" readonly>
                                </td>
                                <td>
                                    <label for="brand" class="sr-only"></label>
                                    <input type="text" id="brand" readonly>
                                </td>
                                <td>
                                    <label for="spec" class="sr-only"></label>
                                    <input type="text" id="spec" readonly>
                                </td>
                                <td>
                                    <label for="quantity" class="sr-only"></label>
                                    <input type="number" id="quantity" value="1">
                                </td>
                                <td>
                                    <label for="unit_value" class="sr-only"></label>
                                    <input type="text" id="unit_value" readonly>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-default btn-xs" onclick="order_add_good(); return false;">添加</button>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <!-- 页面控制器 -->
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/Admin/js/admin_main.js"></script>

    <script>
        // 修改数据后加入name属性
        $(".update").on("change", function() {
            var tar = $(this);
            var name = tar.data("name");
            tar.attr("name", name);
        });

        // 删除商品
        function order_remove_good(e) {
            if (confirm("确定删除？")) {
                var url = "<?php echo ROOT_PATH; ?>Home/Admin/ajax_delete_order_good.html";
                var data = {'order_id': e.data('order_id'), 'good_id': e.data('good_id')};
                $.post(url, data, function(result) {
                    if (result['result'] == 'success') {
                        e.parent().parent().remove();
                    }
                });
            }
        }

        // 添加商品
        function order_add_good(e) {
            if (confirm("确定添加？")) {
                var tar = $("#add_new_good");
                var url = "<?php echo ROOT_PATH; ?>Home/Admin/ajax_add_order_good.html";
                var data = {'order_id':tar.data('order_id'), 'quantity':tar.find('#quantity').val()};
                if (tar.data('good_id')) {
                    data['good_id'] = tar.data('good_id');
                } else {
                    data['code'] = tar.find('#code').val();
                    data['name_cn'] = tar.find('#name_cn').val();
                    data['name_en'] = tar.find('#name_en').val();
                    data['brand'] = tar.find('#brand').val();
                    data['spec'] = tar.find('#spec').val();
                    data['unit_value'] = tar.find('#unit_value').val();
                }
                $.post(url, data, function (result) {
                    if (result['result'] == 'success') {
                        location.reload();
                    }
                });
            }
        }

        // 根据条形码获取商品信息
        function get_good_info(e) {
            var code = e.val();
            if (code.length > 0) {
                var url = "<?php echo ROOT_PATH;?>Home/Order/ajax_good_data/code/" + code + ".html";
                $.get(url, function (data) {
                    if (data != null) {
                        $('#add_new_good').data('good_id', data['id']);
                        e = e.parent().parent();
                        tar = e.find("#brand");
                        tar.val(data['brand']).attr('readonly', 'readonly');
                        tar = e.find("#name_en");
                        tar.val(data['name_en']).attr('readonly', 'readonly');
                        tar = e.find("#name_cn");
                        tar.val(data['name_cn']).attr('readonly', 'readonly')
                        tar = e.find("#spec");
                        tar.val(data['spec']).attr('readonly', 'readonly');
                        tar = e.find("#unit_value");
                        tar.val(data['unit_value']).attr('readonly', 'readonly');
                    } else {
                        $('#add_new_good').removeData('good_id');
                        e = e.parent().parent();
                        tar = e.find("#brand");
                        tar.val('').removeAttr('readonly');
                        tar = e.find("#name_en");
                        tar.val('').removeAttr('readonly');
                        tar = e.find("#name_cn");
                        tar.val('').removeAttr('readonly');
                        tar = e.find("#spec");
                        tar.val('').removeAttr('readonly');
                        tar = e.find("#unit_value");
                        tar.val('').removeAttr('readonly');
                    }
                });
            }
        }
    </script>
</body>
</html>