<!DOCTYPE html>
<html>
<head>
    <?php include("App/Home/View/Default/common/admin_head.html"); ?>

    <script src="<?php echo ROOT_PATH; ?>Public/bootstrap/js/jquery-migrate-1.1.0.js"></script><!--jqprint不兼容高版本jquery，这是迁移辅助插件-->
    <script src="<?php echo ROOT_PATH; ?>Public/bootstrap/js/jquery.jqprint.js"></script>

    <style>
        #print_area {
            display: none;
        }
    </style>
</head>
<body data-auth="<?php echo $AUTH ? 'true' : 'false'; ?>" data-login="{$auth_url}">
    <!-- 推送选择公司模态框 -->
    <div class="modal fade" id="ModalPick" tabindex="-1" role="dialog" aria-labelledby="ModalPickLabel" data-id="0">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalPickLabel">选择公司</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_ws(); return false;">威盛API</a>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_other('hsl'); return false;">海丝路</a>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_other('yt'); return false;">圆通</a>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_other('ems'); return false;">EMS</a>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_other('xgyd'); return false;">香港邮递</a>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_to_other('other'); return false;">其它</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 模态框结束 -->
    <!-- 威盛模态框 -->
    <div class="modal fade" id="ModalWS" tabindex="-1" role="dialog" aria-labelledby="ModalWSLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalWSLabel">推送中……</h4>
                </div>
                <div class="modal-body" style="padding: 0;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 text-center" style="padding: 0;">
                                <img style="width: 100%;" src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/animation/loading2.gif">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 模态框结束 -->
    <!-- 追踪号模态框 -->
    <div class="modal fade" id="ModalPush" tabindex="-1" role="dialog" aria-labelledby="ModalPushLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalPushLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <form action="" method="post" onsubmit="confirm_track_no($(this)); return false;" data-code="" data-order_id="0">
                                    <div class="form-group">
                                        <label for="track-no">追踪号</label>
                                        <input type="text" class="form-control" id="track-no">
                                    </div>
                                    <button type="submit" class="btn btn-default btn-sm">确认</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 模态框结束 -->
    <!-- 追踪历史模态框 -->
    <div class="modal fade" id="ModalHistory" tabindex="-1" role="dialog" aria-labelledby="ModalHistoryLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalHistoryLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <form action="" method="post" onsubmit="add_history($(this)); return false;" data-order_id="0">
                                    <div class="form-group">
                                        <label for="new-history">追踪历史</label>
                                        <textarea class="form-control" id="new-history"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-sm">添加历史</button>
                                </form>
                            </div>
                            <div class="col-xs-12 text-center" id="order-history" style="margin-top: 5px; border-top: 1px solid #000;">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 模态框结束 -->

    <div class="container-fluid container-top-margin">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form class="form-inline" action="" method="post" onsubmit="return check_cond($(this));">
                    <div class="form-group">
                        <label for="condition">模糊查找</label>
                        <input type="text" id="condition" name="condition" placeholder="ID、单号、姓名、电话">
                    </div>

                    <!-- 之前的查询内容 -->
                    <?php foreach($pre_conds as $cond) { ?>
                        <input type="hidden" class="pre_conds" name="pre_conds[]" value="{$cond}">
                    <?php } ?>

                    <button class="btn btn-default btn-sm" type="submit">搜索</button>
                    <?php if ($pre_conds) { ?>
                        <button class="btn btn-default btn-sm" onclick="$(this).parent().find('.pre_conds').remove(); $(this).remove(); return false;">去除之前的查询条件</button>
                    <?php } ?>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover">
                    <thead><tr>
                        <th><input type="checkbox" onclick="select_all($(this));"></th>
                        <th>ID</th>
                        <th>AME单号</th>
                        <th>下单日期</th>
                        <th>寄件人</th>
                        <th>收件人</th>
                        <th>重量(lb)</th>
                        <th>快递公司</th>
                        <th>快递单号</th>
                        <th>备案</th>
                        <th>已付款</th>
                        <th>区域</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody>
                        <?php foreach($orders as $order) { ?>
                            <tr id="order_{$order.id}">
                                <td><input type="checkbox" class="select_tar"></td>
                                <td>{$order.id}</td>
                                <td>{$order.ame_no}</td>
                                <td>{$order.date}</td>
                                <td>{$order.s_name}</td>
                                <td>{$order.r_name}</td>
                                <td class="editable" ondblclick="editable($(this));" data-editing="false"  data-type="text" data-url="<?php echo ROOT_PATH;?>Home/Admin/ajax_order_data.html" data-name="weight" data-max_width="50" data-data_num="1" data-key1="id" data-val1="{$order.id}">
                                    {$order.weight}
                                </td>
                                <td class="track_company">{$order.track_company}</td>
                                <td class="track_no">{$order.track_no}</td>
                                <td>
                                    <?php if ($order['num_total_goods'] > 0) { ?>
                                        <?php if ($order['num_records'] < $order['num_total_goods']) { ?>
                                            {$order.num_records} / {$order.num_total_goods}
                                        <?php } else { ?>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        <?php } ?>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php if ($order['state'] != 'done') { ?>
                                        <a style="cursor: pointer;" onclick="paid($(this));" data-id="{$order.id}" data-paid="{$order.paid}">
                                    <?php } ?>
                                            <span class="glyphicon glyphicon-<?php if ($order['paid']) { ?>ok<?php } else { ?>remove<?php } ?>" aria-hidden="true"></span>
                                    <?php if ($order['state'] != 'done') { ?>
                                        </a>
                                    <?php } ?>
                                </td>
                                <td>
                                    <label for="area" class="sr-only">不显示的标签</label>
                                    <select id="area" onchange="store_area($(this));" data-id="{$order.id}">
                                        <option></option>
                                        <?php foreach($areas as $area) { ?>
                                            <option <?php if ($order['area']==$area) { ?>selected<?php } ?>>{$area}</option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td class="state_detail">{$order.state_detail}</td>
                                <td>
                                    <a class="btn btn-default btn-xs" href="<?php echo ROOT_PATH; ?>Home/Order/order_test/id/{$order.id}.html" role="button">查看</a>
                                    <a class="btn btn-default btn-xs" href="" role="button" onclick="printer('print_area', $(this)); return false;" data-ame_no="{$order.ame_no}" data-receiver="{$order.r_name}"
                                       data-addr="{$order.r_address} {$order.r_city} {$order.r_province} {$order.r_country}" data-order_id="{$order.id}">打印小单</a>
                                    <?php if ($order['state'] == 'pending' || $order['state'] == 'cancel' || $order['state'] == 'delivery') { ?>
                                        <a class="btn btn-default btn-xs" href="<?php echo ROOT_PATH; ?>Home/Admin/order_detail/id/{$order.id}.html" role="button">修改</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'pending' || $order['state'] == 'cancel' || $order['state'] == 'delivery') { ?>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="push_order({$order.id}); return false;">推送</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'empty') { ?>
                                        <a class="btn btn-default btn-xs" href="<?php echo ROOT_PATH; ?>Home/Admin/order_add/ame_no/{$order.ame_no}.html" role="button">添加</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'delivery' || $order['state'] == 'done') { ?>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="track_history($(this)); return false;" data-id="{$order.id}" data-ame_no="{$order.ame_no}">追踪历史</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'delivery') { ?>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="order_state($(this), 'done'); return false;" data-id="{$order.id}">送达</a>
                                    <?php } ?>
                                    <?php if ($order['state'] == 'pending' || $order['state'] == 'empty') { ?>
                                        <a class="btn btn-default btn-xs" href="#" role="button" onclick="order_state($(this), 'delete'); return false;" data-id="{$order.id}">删除</a>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-right">
                {$page}
            </div>
        </div>
        <!-- 打印订单小票 -->
        <div id="print_area" style="width: 500px; border: 1px solid #000; padding-left: 15px;">
            <h3 id="ticket_ame_no" style="width: 40%; display: inline-block;"></h3>
            <h3 id="ticket_barcode" style="width: 55%; display: inline-block;">
                <img src="" style="width: 100%;">
            </h3>
            <p id="ticket_receiver"></p>
            <p id="ticket_addr"></p>
            <p>商品：</p>
            <ul id="ticket_goods" style="list-style: none;"></ul>
        </div>
    </div>

    <!-- 页面控制器 -->
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/Admin/js/admin_main.js"></script>

    <script>
        // 全局变量
        var g_code = {
            'hsl': '海丝路',
            'yt': '圆通',
            'ems': 'EMS',
            'xgyd': '香港邮递',
            'other': '其它'
        };
    </script>
    <script>
        // 打印
        function printer(id, tar) {
            var url = "<?php echo ROOT_PATH; ?>Home/Admin/ajax_get_order_goods.html";
            $.post(url, {"order_id":tar.data("order_id")}, function(result) {
                if (result['result'] == 'success') {
                    var area = $("#print_area");
                    area.find("#ticket_ame_no").html(tar.data("ame_no"));
                    area.find("#ticket_barcode").find("img").attr("src", "<?php echo ROOT_PATH; ?>Home/BarCode/create/code/" + tar.data("ame_no") + "/text/" + tar.data("ame_no") + ".html");
                    area.find("#ticket_receiver").html("收件人：" + tar.data("receiver"));
                    area.find("#ticket_addr").html("收件地址：" + tar.data("addr"));
                    var ul = area.find("#ticket_goods");
                    ul.html("");
                    $.each(result['data'], function(key, val) {
                        ul.append("<li>" + val['brand'] + ' ' + val['name_cn'] + '/' + val['name_en'] + " X " + val['quantity'] + "</li>");
                    });

                    $("#" + id).jqprint();
                } else {
                    alert("Error：获取商品数据失败");
                }
            });
        }

        // 推送订单
        function push_order(id) {
            $("#ModalPick").data("id", id).modal({keyboard:false});
        }

        // 推送给威盛
        function push_to_ws() {
            if (confirm("确定推送？")) {
                // 获取ID
                var pick = $("#ModalPick");
                var id = pick.data("id");
                pick.modal('hide');

                $("#ModalWS").modal({keyboard:false});
                var url = "<?php echo ROOT_PATH; ?>Home/Admin/push_to_ws.html";
                $.post(url, {'order_id':id}, function(data) {
                    $("#ModalWS").modal('hide');
                    switch(data['state']) {
                        case 'success':
                            location.reload();
                            break;
                        case 'error':
                            alert(data['msg']);
                            break;
                        case 'fail':
                            alert(data['msg']);
                            console.log(data);
                            break;
                        case 'repeat':
                            alert(data['msg']);
                            location.reload();
                            break;
                    }
                });
            }
        }

        // 推送给其它公司
        function push_to_other(code) {
            // 获取ID
            var pick = $("#ModalPick");
            var id = pick.data("id");
            pick.modal('hide');

            $("#ModalPushLabel").html(g_code[code]);
            var modal = $("#ModalPush");
            modal.find('form').data('order_id', id).data('code', code);
            modal.modal({keyboard: false});
        }

        // 提交追踪号确认
        function confirm_track_no(e) {
            var code = e.data('code');
            var order_id = e.data('order_id');
            var input = e.find('#track-no');
            var track_no = input.val();
            var url = "<?php echo ROOT_PATH;?>Home/Admin/push_to_other.html";
            input.val('');
            $('#ModalPush').modal('hide');

            $.post(url, {'code':code, 'order_id':order_id, 'track_no':track_no}, function(data) {
                switch(data['state']) {
                    case 'success':
                        location.reload();
                        break;
                    case 'fail':
                        alert(data['msg']);
                        break;
                }
            });
        }

        // 付款处理
        function paid(e) {
            var id = e.data("id");
            var paid = e.data("paid") ? 0 : 1;
            var url = "<?php echo ROOT_PATH;?>Home/Admin/ajax_order_paid.html";
            $.post(url, {'id':id, 'paid':paid}, function(data) {
                switch(data['state']) {
                    case 'success':
                        var sign = paid ? "glyphicon-ok" : "glyphicon-remove";
                        e.data('paid', paid).find('.glyphicon').attr('class', 'glyphicon').addClass(sign); // 修改状态图标
                        break;
                    default:
                        alert(data['msg']);
                }
            });
        }

        // 修改存放区域
        function store_area(ele) {
            var url = "<?php echo ROOT_PATH; ?>Home/Admin/ajax_update_store_area.html";
            $.post(url, {'id':ele.data("id"), 'area':ele.val()}, function(data) {
                if (data['result'] == 'fail') {
                    alert($data['msg']);
                }
            });
        }

        // 修改订单状态
        function order_state(e, state) {
            if (confirm("确定？")) {
                e.html("处理中");

                var id = e.data("id");
                var url = "<?php echo ROOT_PATH;?>Home/Admin/ajax_order_state.html";
                $.post(url, {'id': id, 'state': state}, function (data) {
                    switch (data['result']) {
                        case true:
                            //e.parent().parent().hide('normal');
                            location.reload();
                            break;
                        default:
                            alert(data['state_detail']);
                    }
                });
            }
        }

        // 追踪历史
        function track_history(e) {
            var id = e.data("id");
            var ame_no = e.data("ame_no");
            var modal = $("#ModalHistory");
            modal.find("form").data("order_id", id);
            modal.find("#ModalHistoryLabel").html(ame_no);
            modal.modal({keyboard:false});

            var url = "<?php echo ROOT_PATH;?>Home/Admin/ajax_get_order_history.html";
            var data = {order_id:id};
            var history = $("#order-history").find("ul");
            history.html("<li>loading</li>");
            $.post(url, data, function(res){
                history.html("");
                if (res['result'] == 'success') {
                    res['data'].forEach(function(val) {
                        var html = "<li data-id='" + val['id'] + "'>";
                        html += val['history'];
                        html += "<a href='' style='float:right;' onclick='delete_history($(this)); return false;'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a>";
                        //html += "<a href='' style='float:right;' onclick='return false;'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a>";
                        html += "</li>";
                        history.append(html);
                    });
                }
            });
        }

        // 添加追踪历史
        function add_history(e) {
            var id = e.data("order_id");
            var content = $("#new-history").val();
            var url = "<?php echo ROOT_PATH;?>Home/Admin/ajax_add_order_history.html";
            var data = {order_id:id, history:content};
            $.post(url, data, function(res) {
                if (res['result'] == 'success') {
                    var html = "<li data-id='" + res['id'] + "'>";
                    html += res['history'];
                    html += "<a href='' style='float:right;' onclick='delete_history($(this)); return false;'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a>";
                    //html += "<a href='' style='float:right;' onclick='return false;'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a>"; 暂且没有修改功能
                    html += "</li>";
                    $("#order-history").find("ul").prepend(html);
                }
            });
        }

        // 删除追踪历史
        function delete_history(e) {
            if (confirm("确定？")) {
                var id = e.parent().data("id");
                var url = "<?php echo ROOT_PATH;?>Home/Admin/ajax_delete_order_history.html";
                $.post(url, {id:id}, function(res) {
                    if (res['result'] == 'success') {
                        e.parent().remove();
                    }
                });
            }
        }
    </script>
</body>
</html>