<!DOCTYPE html>
<html class="admin-full-height">
<head>
    <?php include("App/Home/View/Default/common/admin_head.html"); ?>
</head>
<body class="admin-full-height" data-auth="<?php echo $AUTH ? 'true' : 'false'; ?>" data-login="{$auth_url}">
    <div class="container-fluid admin-container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 admin-full-height admin-div-table">
                <div class="admin-full-height admin-div-table-cell">
                    <h1 class="text-center">AME管理系统</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- 页面控制器 -->
    <script src="<?php echo ROOT_PATH; ?>App/Home/View/Default/Admin/js/admin_main.js"></script>
</body>
</html>