<!-- 标题上限四个字 -->
<div class="collapse navbar-collapse" id="ame-navbar-collapse-1">
    <a href="#orderMeun" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 订单管理</a>
    <ul id="orderMeun" class="nav nav-list collapse in menu-second">
        <li><a href="#" data-page="order_list.html">订单列表</a></li>
    </ul>
    <a href="#userMenu" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户管理</a>
    <ul id="userMenu" class="nav nav-list collapse menu-second">
        <li><a href="#" data-page="user_list.html">用户列表</a></li>
        <li><a href="#" data-page="user_detail.html">添加用户</a></li>
    </ul>
    <a href="#goodMenu" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 商品管理</a>
    <ul id="goodMenu" class="nav nav-list collapse menu-second">
        <li><a href="#">商品列表</a></li>
        <li><a href="#">添加商品</a></li>
    </ul>
</div>