<title>AME管理系统</title>
<meta name="keywords" content="AME管理系统">
<meta name="description" content="">
<link rel="shortcut icon" href="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/ame_head_icon.png">
<link rel="icon" href="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/ame_head_icon.png" type="image/png">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="<?php echo ROOT_PATH; ?>Public/bootstrap/css/bootstrap.min.css">
<script src="<?php echo ROOT_PATH; ?>Public/bootstrap/js/jquery.js"></script>
<script src="<?php echo ROOT_PATH; ?>Public/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="<?php echo ROOT_PATH; ?>App/Home/View/Default/Admin/css/admin.css">