<!-- 标题上限四个字 -->
<div class="collapse navbar-collapse" id="ame-navbar-collapse-1">
    <a href="#orderMeun" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 订单管理</a>
    <ul id="orderMeun" class="nav nav-list collapse in menu-second">
        <li><a href="#" data-page="order_empty.html">添加订单</a></li>
        <li><a href="#" data-page="order_list.html">所有订单</a></li>
        <li><a href="#" data-page="order_list.html?state=empty">空白订单</a></li>
        <li><a href="#" data-page="order_list.html?state=pending">待处理</a></li>
        <li><a href="#" data-page="order_list.html?state=delivery">已发货</a></li>
        <li><a href="#" data-page="order_list.html?state=done">已送达</a></li>
        <li><a href="#" data-page="order_list.html?remarked=1">备注订单</a></li>
        <!--<li><a href="#" data-page="order_add.html">添加订单</a></li>-->
    </ul>
    <a href="#userMenu" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户管理</a>
    <ul id="userMenu" class="nav nav-list collapse menu-second">
        <li><a href="#" data-page="user_list.html">用户列表</a></li>
        <li><a href="#" data-page="user_detail.html">添加用户</a></li>
    </ul>
    <a href="#goodMenu" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 商品管理</a>
    <ul id="goodMenu" class="nav nav-list collapse menu-second">
        <li><a href="#" data-page="good_list.html">商品列表</a></li>
    </ul>
    <a href="#areaMenu" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 存放区域</a>
    <ul id="areaMenu" class="nav nav-list collapse menu-second">
        <li><a href="#" data-page="store_area.html">区域列表</a></li>
    </ul>
    <!--
    <a href="#agentMenu" class="menu-first collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 代理管理</a>
    <ul id="agentMenu" class="nav nav-list collapse menu-second">
        <li><a href="#" data-page="user_list.html">代理列表</a></li>
        <li><a href="#" data-page="user_detail.html">添加代理</a></li>
    </ul>
    -->
</div>