<div class="container-fluid" style="border-top: 2px solid rgb(246,213,159); height: 300px; margin-top: 25px;">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1 footer-article text-center">
            <h3 class="footer-article-category">服务指南</h3>
            <ul class="list-unstyled">
                <li>服务流程</li>
                <li>会员介绍</li>
                <li>特色团购</li>
                <li>常见问题</li>
                <li>联系客服</li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">配送方式</h3>
            <ul class="list-unstyled">
                <li>配送查询</li>
                <li>当日送达</li>
                <li>次日送达</li>
                <li>急速1小时</li>
                <li>配送收费标准</li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">支付方式</h3>
            <ul class="list-unstyled">
                <li>货到付款</li>
                <li>网上支付</li>
                <li>微信支付</li>
                <li>国内支付</li>
                <li>金券使用</li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">售后指南</h3>
            <ul class="list-unstyled">
                <li>售后政策</li>
                <li>价格保护</li>
                <li>退款说明</li>
                <li>返修/退换货</li>
                <li>取消订单</li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">关于AME</h3>
            <ul class="list-unstyled">
                <li>关于我们</li>
                <li>联系方式</li>
                <li>金融服务</li>
                <li>商家业务</li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12 text-center">
            <a href="#">网站联盟</a>
            |
            <a href="#">热门搜索</a>
            |
            <a href="#">友情链接</a>
            |
            <a href="#">AME社区</a>
            |
            <a href="#">诚征英才</a>
            |
            <a href="#">商家登录</a>
            |
            <a href="#">供应商登录</a>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 text-center">
            Copyright© AME美洲快递 2007-2016. All Rights Reserved
        </div>
    </div>
</div>