<div class="container-fluid" style="border-top: 2px solid rgb(246,213,159); height: 300px; margin-top: 25px; background-color: rgb(248,248,248);">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1 footer-article text-center">
            <h3 class="footer-article-category">政策法規</h3>
            <ul class="list-unstyled">
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/send_policy.html">發貨原則</a></li>
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/customs.html">海关政策</a></li>
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/restriction_goods.html">禁運物品</a></li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">服務指南</h3>
            <ul class="list-unstyled">
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/customer_process.html">服務流程</a></li>
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/notes.html">理賠免責說明</a></li>
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/news.html">新聞公告</a></li>
                <li><a href="<?php echo ROOT_PATH;?>Home/Index/question.html">常見問題</a></li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">關於AME</h3>
            <ul class="list-unstyled">
                <li><a href="<?php echo ROOT_PATH; ?>Home/Index/about_us.html">關於我們</a></li>
                <li><a href="<?php echo ROOT_PATH; ?>Home/Index/info_express.html">聯系方式</a></li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">AME社區</h3>
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/Americo-Express-256036234733182/">Facebook</a></li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="col-xs-2 footer-article text-center">
            <h3 class="footer-article-category">友情鏈接</h3>
            <ul class="list-unstyled">
                <li><a href="http://americomall.com/">北美商城</a></li>
                <li><a href="http://pbn999.com/">PBN營養館</a></li>
                <li><a href="http://warket.ca/">微市</a></li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12 text-center">
            <a href="<?php echo ROOT_PATH; ?>Home/Index/about_us.html">關於我們</a>
            |
            <a href="#">AME社區</a>
            |
            <a href="<?php echo ROOT_PATH; ?>Home/Index/info_express.html">客服</a>
            |
            <a href="<?php echo ROOT_PATH; ?>Home/Index/info_express.html">聯系我們</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 text-center">
            2016 Americoexpress.com All Rights Reserved
        </div>
    </div>
</div>