<div class="container-fluid">
    <!-- 页面顶部边框 -->
    <div class="row" style="background-color: #dddddd; height: 20px;;"></div>

    <!-- 页头横幅 -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12" style="padding-left: 0;padding-right: 0px;">
            <a href="<?php echo ROOT_PATH; ?>"><img class="header-top-pic"  style="width: 100%;" src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/AME_Logo.jpg"></a>
        </div>
    </div>
    <!-- 导航 -->
    <div class="row ame-nav" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 ame-bk-color">
            <table class="table table-no-border text-center" style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <!--<td><a href="<?php echo ROOT_PATH;?>Home/Index/price_check.html">價格查詢</a></td>-->
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/customer_process.html">服務流程</a></td>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/jingdong_channel.html">京東電商通道</a></td>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/cooperation.html">加盟合作</a></td>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/location.html">服務網點</a></td>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/location_share.html">快遞眾包</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

