<div class="container-fluid">
    <!-- 页面顶部边框 -->
    <div class="row" style="background-color: #dddddd; height: 20px;;"></div>

    <!-- 页头横幅 -->
    <div class="row">
        <div class="col-xs-3 col-xs-offset-1" style="padding-left: 0;">
            <a href="<?php echo ROOT_PATH; ?>"><img class="header-top-pic" src="<?php echo ROOT_PATH; ?>App/Home/View/Default/img/web/AME_Logo.png"></a>
        </div>
        <div class="col-xs-7" style="padding-right: 0;">
            <img class="header-top-pic" style="float: right;" src="http://www.inta.org/TrademarkBasics/FactSheets/PublishingImages/TMBasicsBlank-banner.jpg">
        </div>
    </div>
    <!-- 导航 -->
    <div class="row ame-nav" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-xs-10 col-xs-offset-1 ame-bk-color">
            <table class="table table-no-border text-center" style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/price_check.html">价格查询</a></td>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/customer_process.html">服务流程</a></td>
                        <td><a href="<?php echo ROOT_PATH;?>Home/Index/Jingdong_channel.html">京东电商通道</a></td>
                        <td><a href="http://americomall.com/">Americomall</a></td>
                        <td><a href="http://pbn999.com/PBN.php">PBN营养馆</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

